<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>TRAFFIC MONITORING</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static',filename='assets/img/favicon.png') }}" rel="icon">
  <link href="{{ url_for('static',filename='assets/img/apple-touch-icon.png') }}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static',filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='assets/vendor/boxicons/css/boxicons.min.cs') }}" rel="stylesheet">
 
  <!-- Template Main CSS File -->
  <link href="{{ url_for('static',filename='assets/css/style.css') }}" rel="stylesheet">
  <script>
    function autoRefresh() {
        window.location = window.location.href;
    }
    setInterval('autoRefresh()', 30000);
</script>

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: Jul 27 2023 with Bootstrap v5.3.1
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="col">
      <div class="d-flex align-items-center justify-content-between">
        <a href="{{ url_for('index')  }}" class="logo d-flex align-items-center">
          <img src="{{ url_for('static',filename='assets/img/network_traffic2.png') }}" alt="">
          <span class="d-none d-lg-block">TRAFFIC MONITORING V1.0</span>
        </a>
      </div><!-- End Logo -->
    </div>
    <div class="col">
      <nav class="navbar navbar-expand-lg ">
        <div class="btn-group">
          <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
           others
          </button>
          <ul class="dropdown-menu">
            <li class="nav-item dropdown">
              <a class="nav-link" href="{{ url_for('index')  }}">scp</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="{{ url_for('sdp')  }}">sdp</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="{{ url_for('TrafficAttempt')  }}">traffic attempt</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="{{ url_for('errormon')  }}">error monitoring</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="{{ url_for('sdptoday')  }}">sdp today</a>
            </li>
          </ul>
        </div> 
    </nav><!-- End Icons Navigation -->
    </div>
    <div class="col">
      <h7>data update : </h7><span class="badge rounded-pill text-bg-info">{{now}}</span>
    </div>
           
    
      <!--<i class="bi bi-list toggle-sidebar-btn"></i>-->
    
    
    
    <!-- End Search Bar -->

   <!-- End Notification Nav -->

    <!-- End Messages Nav -->

    <!-- End Icons Navigation -->
   
  </header><!-- End Header -->
  
  
  <main id="dashboard" class="dashboard">
    
    {% block content %}
    
    {% endblock %}
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->

 <script src="{{ url_for('static',filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  
  <!-- Template Main JS File -->
  <script src="{{ url_for('static',filename='assets/js/main.js') }}"></script>
  <script src="{{ url_for('static',filename='assets/vendor/apexcharts/apexcharts.min.js') }}"></script>
</body>

</html>