{% extends "baseappV2.html" %}
{% block content %}
<section class="section dashboard">

  <div class="row">

    <div class="col-lg-6">
      <div class="card">
        <div class="card-body2">

          <table class="table table-striped">
            <thead>
              <tr class="table-success">
                <th scope="col">Item </th>
              </tr>
              <tr class="table-success">
                <th scope="col">Item2 </th>
              </tr>
            </thead>
            <tbody>
              <tr >
                <td> 111</td>
                <td>222</td>
                <td>333</td>
                <td>444</td>
              </tr>

            </tbody>
          </table>

        </div>
      </div>
    </div>

  </div>

   <div class="row">

        <!-- CHART 1 -->
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body2">
               <!-- Line Chart -->
               <div id="lineChart1"></div>
               <script>
                document.addEventListener("DOMContentLoaded", () => {
                  new ApexCharts(document.querySelector("#lineChart1"), {
                    series: [{
                      name: "today",
                      data:  {{ att0 | tojson }} 
                            },
					                {
                      name: "d-1",
                      data: {{ att1 | tojson }}
                          },
                          {
                      name: "d-7",
                      data: {{ att7 | tojson }} 
                    }],
                    chart: {
                      height: 250,
                      type: 'line',
                      zoom: {
                        enabled: false
                      }
                    },
                    title: {
                        text: "BULK MT",
                        floating: false,
                        align: 'center',
                    },
                    dataLabels: {
                      enabled: false
                    },
                    stroke: {
                      curve: 'smooth'
                    },
                    xaxis: {
                      categories: {{ listh |tojson }},
                      labels: {
                        show: true,
                        rotateAlways: false
                          },
                    },
                    grid: {
                      row: {
                        colors: ['#ffffff', 'transparent'], // takes an array which will be repeated on columns
                        opacity: 0.5
                      },
                    }
                  }).render();
                });
              </script>
              <!-- End Line Chart -->
            </div>
          </div>
        </div>

        <!-- CHART 2 -->
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body2">
               <!-- Line Chart -->
               <div id="lineChart2"></div>
               <script>
                document.addEventListener("DOMContentLoaded", () => {
                  new ApexCharts(document.querySelector("#lineChart2"), {
                    series: [{
                      name: "today",
                      data:  {{ suc0 | tojson }} 
                            },
					                {
                      name: "d-1",
                      data: {{ suc1 | tojson }}
                          },
                          {
                      name: "d-7",
                      data: {{ suc7 | tojson }} 
                    }],
                    chart: {
                      height: 250,
                      type: 'line',
                      zoom: {
                        enabled: false
                      }
                    },
                    title: {
                        text: "BULK MO",
                        floating: false,
                        align: 'center',
                    },
                    dataLabels: {
                      enabled: false
                    },
                    stroke: {
                      curve: 'smooth'
                    },
                    xaxis: {
                      categories: {{ listh |tojson }},
                      labels: {
                        show: true,
                        rotateAlways: false
                          },
                    },
                    grid: {
                      row: {
                        colors: ['#ffffff', 'transparent'], // takes an array which will be repeated on columns
                        opacity: 0.5
                      },
                    }
                  }).render();
                });
              </script>
              <!-- End Line Chart -->
            </div>
          </div>
        </div>        

      </div>

      <div class='row'>

        <!-- CHART 3 -->
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
               <!-- Line Chart -->
               <div id="lineChart3"></div>
               <script>
                document.addEventListener("DOMContentLoaded", () => {
                  new ApexCharts(document.querySelector("#lineChart3"), {
                    series: [{
                      name: "today",
                      data:  {{ rm0 | tojson }} 
                            },
					                {
                      name: "d-1",
                      data: {{ rm1 | tojson }}
                          },
                          {
                      name: "d-7",
                      data: {{ rm7 | tojson }} 
                    }],
                    chart: {
                      height: 250,
                      type: 'line',
                      zoom: {
                        enabled: false
                      }
                    },
                    title: {
                        text: "DIGITAL SERVICE",
                        floating: false,
                        align: 'center',
                    },
                    dataLabels: {
                      enabled: false
                    },
                    stroke: {
                      curve: 'smooth'
                    },
                    xaxis: {
                      categories: {{ listh |tojson }},
                      labels: {
                        show: true,
                        rotateAlways: false
                          },
                    },
                    grid: {
                      row: {
                        colors: ['#ffffff', 'transparent'], // takes an array which will be repeated on columns
                        opacity: 0.5
                      },
                    }
                  }).render();
                });
              </script>
              <!-- End Line Chart -->
            </div>
          </div>
        </div>

        <!-- CHART 4 -->
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
               <!-- Line Chart -->
               <div id="lineChart4"></div>
               <script>
                document.addEventListener("DOMContentLoaded", () => {
                  new ApexCharts(document.querySelector("#lineChart4"), {
                    series: [{
                      name: "today",
                      data:  {{ sk100 | tojson }} 
                            },
					                {
                      name: "d-1",
                      data: {{ sk101 | tojson }}
                          },
                          {
                      name: "d-7",
                      data: {{ sk107 | tojson }} 
                    }],
                    chart: {
                      height: 250,
                      type: 'line',
                      zoom: {
                        enabled: false
                      }
                    },
                    title: {
                        text: "SUBSCRIPTIONBULK MT",
                        floating: false,
                        align: 'center',
                    },
                    dataLabels: {
                      enabled: false
                    },
                    stroke: {
                      curve: 'smooth'
                    },
                    xaxis: {
                      categories: {{ listh |tojson }},
                      labels: {
                        show: true,
                        rotateAlways: false
                          },
                    },
                    grid: {
                      row: {
                        colors: ['#ffffff', 'transparent'], // takes an array which will be repeated on columns
                        opacity: 0.5
                      },
                    }
                  }).render();
                });
              </script>
              <!-- End Line Chart -->
            </div>
          </div>
        </div>

      </div>

      <div class="row">

        <!-- CHART 5 -->
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
               <!-- Line Chart -->
               <div id="lineChart5"></div>
               <script>
                document.addEventListener("DOMContentLoaded", () => {
                  new ApexCharts(document.querySelector("#lineChart5"), {
                    series: [{
                      name: "today",
                      data:  {{ sk100 | tojson }} 
                            },
					                {
                      name: "d-1",
                      data: {{ sk101 | tojson }}
                          },
                          {
                      name: "d-7",
                      data: {{ sk107 | tojson }} 
                    }],
                    chart: {
                      height: 250,
                      type: 'line',
                      zoom: {
                        enabled: false
                      }
                    },
                    title: {
                        text: "SUBSCRIPTIONBULK MO",
                        floating: false,
                        align: 'center',
                    },
                    dataLabels: {
                      enabled: false
                    },
                    stroke: {
                      curve: 'smooth'
                    },
                    xaxis: {
                      categories: {{ listh |tojson }},
                      labels: {
                        show: true,
                        rotateAlways: false
                          },
                    },
                    grid: {
                      row: {
                        colors: ['#ffffff', 'transparent'], // takes an array which will be repeated on columns
                        opacity: 0.5
                      },
                    }
                  }).render();
                });
              </script>
              <!-- End Line Chart -->
            </div>
          </div>
        </div>


      </div>
</section>
{% endblock %}