{% extends "baseappV2.html" %}
{% block content %}
<section class="section dashboard">

   <div class="row">

        <!-- CHART 1 -->
        <div class="col-lg-3">
          <div class="card">
            <div class="card-body2">
               <!-- Line Chart -->
               <div id="lineChart"></div>
               <script>
                document.addEventListener("DOMContentLoaded", () => {
                  new ApexCharts(document.querySelector("#lineChart"), {
                    series: [
                        {
                        name: "Funnel Series",
                        data: [1380, 1100, 990, 880, 740],
                        },
                      ],
                    chart: {
                      type: 'bar',
                      height: 250,
                      },
                    plotOptions: {
                      bar: {
                        borderRadius: 0,
                        horizontal: true,
                        barHeight: '70%',
                        isFunnel: true,
                          },
                       },
                      dataLabels: {
                        enabled: true,
                        formatter: function (val, opt) {
                           return opt.w.globals.labels[opt.dataPointIndex] + ':  ' + val
                          },
                      dropShadow: {
                        enabled: true,
                          },
                      },
                 colors : ['#38ff59'],
                 title: {
                    text: 'Recruitment Funnel',
                    align: 'middle',
                    },
                 xaxis: {
                   categories: [
                    'Sourced',
                    'Screened',
                    'Assessed',
                    'HR Interview',
                    'Technical'
                    ],
                  },
                legend: {
                  show: false,
                }
             }).render();
                });
              </script>
              <!-- End Line Chart -->
            </div>
          </div>
        </div>

        <!-- CHART 2 -->
        <div class="col-lg-3">
          <div class="card">
            <div class="card-body2">
               <!-- Line Chart -->
               <div id="flunerchart2"></div>
               <script>
                document.addEventListener("DOMContentLoaded", () => {
                  new ApexCharts(document.querySelector("#flunerchart2"), {
                    series: [
                        {
                        name: "Funnel Series",
                        data: [1380, 1100, 990, 880, 740],
                        },
                      ],
                    chart: {
                      type: 'bar',
                      height: 250,
                      },
                    plotOptions: {
                      bar: {
                        borderRadius: 0,
                        horizontal: true,
                        barHeight: '70%',
                        isFunnel: true,
                          },
                       },
                      dataLabels: {
                        enabled: true,
                        formatter: function (val, opt) {
                           return opt.w.globals.labels[opt.dataPointIndex] + ':  ' + val
                          },
                      dropShadow: {
                        enabled: true,
                          },
                      },
                 title: {
                    text: 'Recruitment Funnel',
                    align: 'midle',
                    },
                 xaxis: {
                   categories: [
                    'Sourced',
                    'Screened',
                    'Assessed',
                    'HR Interview',
                    'Technical'
                    ],
                  },
                colors: ['#f531d4'],
                legend: {
                  show: false,
                }
             }).render();
                });
              </script>
              <!-- End Line Chart -->
            </div>
          </div>
        </div>
       

      </div>
</section>
{% endblock %}