{% extends "baseappV2.html" %}
{% block content %}
<section class="section dashboard">

  <div class="col-lg-12">
    <div class="card">
      <div class="card-body2">

        <table class="table table-custom1"">
          <thead >
            <tr>
              <th scope="col"  colspan="13" class="table-secondary table-header6">SUMMARY</th>
            </tr>
            <tr>
              <th scope="col" rowspan="2"  class="table-header1 ">ACCESS FLAG </th>
              <th scope="col" colspan="3" class="table-header2 ">SUCCESS RATE ( % )</th>
              <th scope="col" colspan="3" class="table-header3 ">ATTEMPT</th>
              <th scope="col" colspan="3" class="table-header4 ">SUCCESS</th>
              <th scope="col" colspan="3" class="table-header5 ">REVENUE ( IDR )</th>
            </tr>
            <tr >
              <th scope="col" class="table-header1">Day -0</th>
              <th scope="col" class="table-header1">Day -1</th>
              <th scope="col" class="table-header1">Day -7</th>
              <th scope="col" class="table-header1">Day -0</th>
              <th scope="col" class="table-header1">Day -1</th>
              <th scope="col" class="table-header1">Day -7</th>
              <th scope="col" class="table-header1">Day -0</th>
              <th scope="col" class="table-header1">Day -1</th>
              <th scope="col" class="table-header1">Day -7</th>
              <th scope="col" class="table-header1">Day -0</th>
              <th scope="col" class="table-header1">Day -1</th>
              <th scope="col" class="table-header1">Day -7</th>
            </tr>
          </thead>
          <tbody>
            {% for t in dict_sdp['summaryall'] %}
            <tr >
              <td>{{ t['ACCESSFLAG'] }}</td>
              <td class="{{ t['sr_color']}}">{{ t['sr0'] }}</td>
              <td>{{ t['sr1'] }}</td>
              <td >{{ t['sr7'] }}</td>
              <td class="{{ t['att_color']}}">{{ t['att0'] }}</td>
              <td> {{ t['att1'] }}</td>
              <td>{{ t['att7'] }}</td>
              <td class="{{ t['suc_color']}}">{{ t['suc0'] }}</td>
              <td>{{ t['suc1'] }}</td>
              <td>{{ t['suc7'] }}</td>
              <td class="{{ t['rev_color']}}">{{ t['rev0'] }}</td>
              <td>{{ t['rev1'] }}</td>
              <td>{{ t['rev7'] }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
   
    <!-- VOICE Chart1 -->
    <div class="col-xl-2   col-md-2">
      <div class="card info-card-chart sales-card">
          <div class="card-body3  ">
              <!-- Line Chart -->
            <div id="radial1"></div>
            <script>
                document.addEventListener("DOMContentLoaded", () => {
                  new ApexCharts(document.querySelector("#radial1"), {
                    chart: {
                      type: 'radialBar',
                      height: 250,
                      offsetY: -10
                    },
                    series: [90.34],
                    labels: ['succes rate'],
                    plotOptions: {
        
                    },
                    colors: ["9aed13"],
                    stroke: {
                      dashArray: 4
                    },
                    title: {
                        text: "VOICE",
                        floating: true,
                        align: 'center',
                    },
                  
                  }).render();
                });
              </script>
              <!-- End Bar Chart -->
          </div>
      </div>
  </div>

  <!-- VOICE Chart1 -->
  <div class="col-xl-2 col-md-2">
    <div class="card info-card-chart sales-card">
        <div class="card-body3">
            <!-- Line Chart -->
          <div id="radial2"></div>
          <script>
              document.addEventListener("DOMContentLoaded", () => {
                new ApexCharts(document.querySelector("#radial2"), {
                  chart: {
                    type: 'radialBar',
                    height: 250,
                    offsetY: -10
                  },
                  series: [75.23],
                  labels: ['succes rate'],
                  plotOptions: {
      
                  },
                  colors: [ "#9aed13" ] ,
                  stroke: {
                    dashArray: 4
                  },
                  title: {
                      text: "BULK MT",
                      floating: true,
                      align: 'center',
                  },
                
                }).render();
              });
            </script>
            <!-- End Bar Chart -->
        </div>
    </div>
</div>

   <!-- VOICE Chart1 -->
  <div class="col-xl-2 col-md-2">
    <div class="card info-card-chart sales-card">
        <div class="card-body3">
            <!-- Line Chart -->
          <div id="radial3"></div>
          <script>
              document.addEventListener("DOMContentLoaded", () => {
                new ApexCharts(document.querySelector("#radial3"), {
                  chart: {
                    type: 'radialBar',
                    height: 250,
                    offsetY: -10
                  },
                  series: [75.23],
                  labels: ['succes rate'],
                  plotOptions: {
      
                  },
                  colors: [ "#9aed13" ],
                  stroke: {
                    dashArray: 4
                  },
                  title: {
                      text: "BULK MO",
                      floating: true,
                      align: 'center',
                  },
                
                }).render();
              });
            </script>
            <!-- End Bar Chart -->
        </div>
    </div>
  </div>

  <!-- VOICE Chart1 -->
  <div class="col-xl-2 col-md-2">
    <div class="card info-card-chart sales-card">
        <div class="card-body3">
            <!-- Line Chart -->
          <div id="radial4"></div>
          <script>
              document.addEventListener("DOMContentLoaded", () => {
                new ApexCharts(document.querySelector("#radial4"), {
                  chart: {
                    type: 'radialBar',
                    height: 250,
                    offsetY: -10
                  },
                  series: [75.23],
                  labels: ['succes rate'],
                  plotOptions: {
      
                  },
                  colors: [ "#9aed13"],
                  stroke: {
                    dashArray: 4
                  },
                  title: {
                      text: "DIGITAL SERVICE",
                      floating: true,
                      align: 'center',
                  },
                
                }).render();
              });
            </script>
            <!-- End Bar Chart -->
        </div>
    </div>
  </div>

     <!-- VOICE Chart1 -->
  <div class="col-xl-2 col-md-2">
    <div class="card info-card-chart sales-card">
        <div class="card-body3">
            <!-- Line Chart -->
          <div id="radial5"></div>
          <script>
              document.addEventListener("DOMContentLoaded", () => {
                new ApexCharts(document.querySelector("#radial5"), {
                  chart: {
                    type: 'radialBar',
                    height: 250,
                    offsetY: -10
                  },
                  series: [75.23],
                  labels: ['succes rate'],
                  plotOptions: {
      
                  },
                  colors: [ "#9aed13"],
                  stroke: {
                    dashArray: 4
                  },
                  title: {
                      text: "SUBSCRIPTIONBULK MT",
                      floating: true,
                      align: 'center',
                  },
                
                }).render();
              });
            </script>
            <!-- End Bar Chart -->
        </div>
    </div>
  </div>

   <!-- VOICE Chart1 -->
  <div class="col-xl-2 col-md-2">
    <div class="card info-card-chart sales-card">
        <div class="card-body3">
            <!-- Line Chart -->
          <div id="radial6"></div>
          <script>
              document.addEventListener("DOMContentLoaded", () => {
                new ApexCharts(document.querySelector("#radial6"), {
                  chart: {
                    type: 'radialBar',
                    height: 250,
                    offsetY: -10
                  },
                  series: [75.23],
                  labels: ['succes rate'],
                  plotOptions: {
      
                  },
                  colors: [ "#9aed13" ],
                  stroke: {
                    dashArray: 4
                  },
                  title: {
                      text: "SUBSCRIPTIONBULK MO",
                      floating: true,
                      align: 'center',
                  },
                
                }).render();
              });
            </script>
            <!-- End Bar Chart -->
        </div>
    </div>
  </div>


  </div>

  <div class="row">
   
    <!-- VOICE Chart1 -->
    <div class="col-xl-4 col-md-4">
      <div class="card info-card-chart sales-card">
          <div class="card-body">
              <!-- Line Chart -->
            <div id="bar1"></div>
            <script>
                document.addEventListener("DOMContentLoaded", () => {
                  new ApexCharts(document.querySelector("#bar1"), {
                    chart: {
                      type: 'bar',
                      height: 250
                    },
                    series: [{
                        data: [400, 430, 448, 1100, 1200, 1380]
                        }],
                    xaxis: {
                          categories: ['South Korea', 'Canada', 'United Kingdom', 'Netherlands', 'Italy', 'France'],
                    },
                    plotOptions: {
                        bar: {
                          borderRadius: 4,
                          horizontal: true,
                              }
                    },
                    title: {
                        text: "CHART1",
                        floating: true,
                        align: 'center',
                    },
                  
                  }).render();
                });
              </script>
              <!-- End Bar Chart -->
          </div>
      </div>
  </div>  

  <!-- CHART 2 -->
  <div class="col-lg-4">
    <div class="card">
      <div class="card-body">
         <!-- Line Chart -->
         <div id="lineChart2"></div>
         <script>
          document.addEventListener("DOMContentLoaded", () => {
            new ApexCharts(document.querySelector("#lineChart2"), {
              series: [{
                name: "Desktops",
                data: [ {x:"jan",y:10}, {x:"feb",y:19},{x:"mar",y:30},{x:"apr",y:25},{x:"mei",y:50},{x:"jun",y:15},{x:"jul",y:30},{x:"aug",y:20},{x:"sep",y:30},{x:"okt",y:40}]
              },
    {
                name: "laptop",
                data: [ {x:"jan",y:0}, {x:"feb",y:10},{x:"mar",y:25},{x:"apr",y:40},{x:"mei",y:10},{x:"jun",y:17},{x:"jul",y:28},{x:"aug",y:22},{x:"sep",y:16},{x:"okt",y:24}]
              }],
              chart: {
                height: 250,
                type: 'line',
                zoom: {
                  enabled: false
                }
              },
              dataLabels: {
                enabled: false
              },
              title: {
                  text: "CHART2",
                  floating: false,
                  align: 'center',
              },
              stroke: {
                curve: 'smooth'
              },
              grid: {
                row: {
                  colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                  opacity: 0.5
                },
              }
            }).render();
          });
        </script>
        <!-- End Line Chart -->
      </div>
    </div>
  </div>  

  <!-- CHART 2 -->
  <div class="col-lg-4">
    <div class="card">
      <div class="card-body">
         <!-- Line Chart -->
         <div id="lineChart3"></div>
         <script>
          document.addEventListener("DOMContentLoaded", () => {
            new ApexCharts(document.querySelector("#lineChart3"), {
              series: [{
                name: "Desktops",
                data: [ {x:"jan",y:10}, {x:"feb",y:19},{x:"mar",y:30},{x:"apr",y:25},{x:"mei",y:50},{x:"jun",y:15},{x:"jul",y:30},{x:"aug",y:20},{x:"sep",y:30},{x:"okt",y:40}]
              },
    {
                name: "laptop",
                data: [ {x:"jan",y:0}, {x:"feb",y:10},{x:"mar",y:25},{x:"apr",y:40},{x:"mei",y:10},{x:"jun",y:17},{x:"jul",y:28},{x:"aug",y:22},{x:"sep",y:16},{x:"okt",y:24}]
              }],
              chart: {
                height: 250,
                type: 'line',
                zoom: {
                  enabled: false
                }
              },
              dataLabels: {
                enabled: false
              },
              title: {
                  text: "CHART2",
                  floating: false,
                  align: 'center',
              },
              stroke: {
                curve: 'smooth'
              },
              grid: {
                row: {
                  colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                  opacity: 0.5
                },
              }
            }).render();
          });
        </script>
        <!-- End Line Chart -->
      </div>
    </div>
  </div>  

  </div>
</section>
{% endblock %}