{% extends "baseappV2.html" %}
{% block content %}
<section class="section dashboard">

  <div class="row">
   
    <!-- VOICE Chart1 -->
    <div class="col-xl-2   col-md-2">
      <div class="card info-card-chart sales-card">
          <div class="card-body3  ">
              <!-- Line Chart -->
            <div id="radial1"></div>
            <script>
                document.addEventListener("DOMContentLoaded", () => {
                  new ApexCharts(document.querySelector("#radial1"), {
                    chart: {
                      type: 'radialBar',
                      height: 250,
                      offsetY: -10
                    },
                    series: [ {{  dict_scp['sr']  }} ],
                    labels: ['succes rate'],
                    plotOptions: {
        
                    },
                    colors: [ '{{ dict_scp["colscp"]  }}'],
                    stroke: {
                      dashArray: 4
                    },
                    title: {
                        text: "VOICE",
                        floating: true,
                        align: 'center',
                    },
                  
                  }).render();
                });
              </script>
              <!-- End Bar Chart -->
          </div>
          
      </div>
  </div>

  <!-- VOICE Chart1 -->
  <div class="col-xl-2 col-md-2">
    <div class="card info-card-chart sales-card">
        <div class="card-body3">
            <!-- Line Chart -->
          <div id="radial2"></div>
          <script>
              document.addEventListener("DOMContentLoaded", () => {
                new ApexCharts(document.querySelector("#radial2"), {
                  chart: {
                    type: 'radialBar',
                    height: 250,
                    offsetY: -10
                  },
                  series:[ {{ dict_sdp['sr67']  }} ],
                  labels: ['succes rate'],
                  plotOptions: {
      
                  },
                  colors:[ '{{ dict_sdp["col67"]  }}' ] ,
                  stroke: {
                    dashArray: 4
                  },
                  title: {
                      text: "BULK MT",
                      floating: true,
                      align: 'center',
                  },
                
                }).render();
              });
            </script>
            <!-- End Bar Chart -->

        </div>
        
    </div>
</div>

   <!-- VOICE Chart1 -->
  <div class="col-xl-2 col-md-2">
    <div class="card info-card-chart sales-card">
        <div class="card-body3">
            <!-- Line Chart -->
          <div id="radial3"></div>
          <script>
              document.addEventListener("DOMContentLoaded", () => {
                new ApexCharts(document.querySelector("#radial3"), {
                  chart: {
                    type: 'radialBar',
                    height: 250,
                    offsetY: -10
                  },
                  series:[ {{ dict_sdp['sr66']  }} ],
                  labels: ['succes rate'],
                  plotOptions: {
      
                  },
                  colors:[ '{{ dict_sdp["col66"]  }}' ],
                  stroke: {
                    dashArray: 4
                  },
                  title: {
                      text: "BULK MO",
                      floating: true,
                      align: 'center',
                  },
                
                }).render();
              });
            </script>
            <!-- End Bar Chart -->
        </div>
    </div>
  </div>

  <!-- VOICE Chart1 -->
  <div class="col-xl-2 col-md-2">
    <div class="card info-card-chart sales-card">
        <div class="card-body3">
            <!-- Line Chart -->
          <div id="radial4"></div>
          <script>
              document.addEventListener("DOMContentLoaded", () => {
                new ApexCharts(document.querySelector("#radial4"), {
                  chart: {
                    type: 'radialBar',
                    height: 250,
                    offsetY: -10
                  },
                  series:[ {{ dict_sdp["sr68"]  }} ],
                  labels: ['succes rate'],
                  plotOptions: {
      
                  },
                  colors: [ '{{ dict_sdp["col68"] }}' ],
                  stroke: {
                    dashArray: 4
                  },
                  title: {
                      text: "DIGITAL SERVICE",
                      floating: true,
                      align: 'center',
                  },
                
                }).render();
              });
            </script>
            <!-- End Bar Chart -->
        </div>
    </div>
  </div>

     <!-- VOICE Chart1 -->
  <div class="col-xl-2 col-md-2">
    <div class="card info-card-chart sales-card">
        <div class="card-body3">
            <!-- Line Chart -->
          <div id="radial5"></div>
          <script>
              document.addEventListener("DOMContentLoaded", () => {
                new ApexCharts(document.querySelector("#radial5"), {
                  chart: {
                    type: 'radialBar',
                    height: 250,
                    offsetY: -10
                  },
                  series: [ {{ dict_sdp["sr73"]  }} ],
                  labels: ['succes rate'],
                  plotOptions: {
      
                  },
                  colors:[ '{{ dict_sdp["col73"]  }}' ],
                  stroke: {
                    dashArray: 4
                  },
                  title: {
                      text: "SUBSCRIPTIONBULK MT",
                      floating: true,
                      align: 'center',
                  },
                
                }).render();
              });
            </script>
            <!-- End Bar Chart -->
        </div>
    </div>
  </div>

   <!-- VOICE Chart1 -->
  <div class="col-xl-2 col-md-2">
    <div class="card info-card-chart sales-card">
        <div class="card-body3">
            <!-- Line Chart -->
          <div id="radial6"></div>
          <script>
              document.addEventListener("DOMContentLoaded", () => {
                new ApexCharts(document.querySelector("#radial6"), {
                  chart: {
                    type: 'radialBar',
                    height: 250,
                    offsetY: -10
                  },
                  series: [ {{ dict_sdp["sr72"]  }} ],
                  labels: ['succes rate'],
                  plotOptions: {
      
                  },
                  colors: [ '{{ dict_sdp["col72"]  }}' ] ,
                  stroke: {
                    dashArray: 4
                  },
                  title: {
                      text: "SUBSCRIPTIONBULK MO",
                      floating: true,
                      align: 'center',
                  },
                
                }).render();
              });
            </script>
            <!-- End Bar Chart -->
        </div>
    </div>
  </div>


  </div>

  <div class="row">
   
    <!-- VOICE Chart1 -->
    <div class="col-xl-4 col-md-3">
      <div class="card info-card-chart sales-card">
          <div class="card-body">
              <!-- Line Chart -->
              <table class="table table-sm">
                <thead>
                  <tr>
                    <th scope="col">Services </th>
                    <th scope="col">Traffic Attempt</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Voice</td>
                    <td>{{ dict_scp['att'] }}</td>
                  </tr>
                  <tr>
                    <td>Bulk MT</td>
                    <td>{{ dict_sdp['att67'] }}</td>
                  </tr>
                  <tr>
                    <td>Bulk MO</td>
                    <td>{{ dict_sdp['att66'] }}</td>
                  </tr>
                  <tr>
                    <td>Digital Service</td>
                    <td>{{ dict_sdp['att68'] }}</td>
                  </tr>
                  <tr>
                    <td>Subscription MT</td>
                    <td>{{ dict_sdp['att73'] }}</td>
                  </tr>
                  <tr>
                    <td>Subscription MO</td>
                    <td>{{ dict_sdp['att72'] }}</td>
                  </tr>
                </tbody>
              </table>
          </div>
      </div>
  </div>  

  <!-- CHART 2 -->
  <div class="col-lg-4">
    <div class="card">
      <div class="card-body">
         <!-- Line Chart -->
         <div id="lineChart2"></div>
         <script>
          document.addEventListener("DOMContentLoaded", () => {
            new ApexCharts(document.querySelector("#lineChart2"), {
              series: [{
                name: "BULK MT",
                data: {{ dict_sdp['min67'] | tojson }}
              },
                {
                name: "BULK MO",
                data: {{ dict_sdp['min66'] | tojson }}
              },
                {
                name: "DIGITAL SERVICE",
                data: {{ dict_sdp['min68'] | tojson }}
              },
                {
                name: "SUBS_MO",
                data: {{ dict_sdp['min72'] | tojson }}
              }],
              chart: {
                height: 250,
                type: 'line',
                zoom: {
                  enabled: false
                }
              },
              dataLabels: {
                enabled: false
              },
              title: {
                  text: "MINUTE WISE",
                  floating: false,
                  align: 'center',
              },
              stroke: {
                curve: 'smooth'
              },
              xaxis: {
                    categories: {{ dict_sdp['listmin'] |tojson }},
                    labels: {
                      show: true,
                      rotate: -90,
                      rotateAlways: true
                        }
                  },
              grid: {
                row: {
                  colors: ['#ffffff', 'transparent'], // takes an array which will be repeated on columns
                  opacity: 0.5
                },
              }
            }).render();
          });
        </script>
        <!-- End Line Chart -->
      </div>
    </div>
  </div>  

  <!-- CHART 2 -->
  <div class="col-lg-4">
    <div class="card">
      <div class="card-body">
         <!-- Line Chart -->
         <div id="lineChart3"></div>
         <script>
          document.addEventListener("DOMContentLoaded", () => {
            new ApexCharts(document.querySelector("#lineChart3"), {
              series: [{
                name: "VOICE",
                data: {{ dict_scp['attmin'] | tojson }}
              },
    {
                name: "SUBS_MT",
                data: {{ dict_sdp['min73'] | tojson }}
              }],
              chart: {
                height: 250,
                type: 'line',
                zoom: {
                  enabled: false
                }
              },
              dataLabels: {
                enabled: false
              },
              xaxis: {
                    categories: {{ dict_scp['listmin'] |tojson }},
                    labels: {
                      show: true,
                      rotate: -90,
                      rotateAlways: true
                        }
                  },
              stroke: {
                curve: 'smooth'
              },
              title: {
                  text: "MINUTE WISE",
                  floating: false,
                  align: 'center',
              },
              grid: {
                row: {
                  colors: ['#ffffff', 'transparent'], // takes an array which will be repeated on columns
                  opacity: 0.5
                },
              }
            }).render();
          });
        </script>
        <!-- End Line Chart -->
      </div>
    </div>
  </div>  

  </div>
</section>
{% endblock %}