{% extends "baseappV2.html" %}
{% block content %}
<section class="section dashboard">

   <div class="row">

    <!--CHART1-->
    <div class="col-lg-3">
      <div class="card">
        <div class="card-body2">
          <h7></h7><center>DIAMETER non 2001</center></h7><br>
          <!-- Line Chart -->
          <table class="table table-sm">
            <thead>
              <tr>
                <th scope="col">diameter code</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
              {% for t in dic_scp['lisdiameter'] %}
              <tr>
                <td>{{ t['errcode'] }}</td>
                <td>{{ t['total'] }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!--CHART 2-->
    <div class="col-lg-3">
      <div class="card">
        <div class="card-body2">
            <!-- Bar Chart -->
            <div id="barChart2"></div>

            <script>
              document.addEventListener("DOMContentLoaded", () => {
                new ApexCharts(document.querySelector("#barChart2"), {
                  series: [{
                    data: {{ dic_scp ['listtotalbft'] | tojson }}
                  }],
                  chart: {
                    type: 'bar',
                    height: 250
                  },
                  title: {
                    text: "BFT Error Code",
                    align: 'center',
                    margin: 0,
                    offsetX: 20,
                    offsetY: 20,
                    floating: false,
                    style: {
                        fontSize:  '14px',
                        fontWeight:  'thin',
                        color:  '#263238'
                          },
                  },
                  plotOptions: {
                    bar: {
                      distributed: true,
                      borderRadius: 4,
                      horizontal: true,
                    }
                  },
                  dataLabels: {
                    enabled: false
                  },
                  xaxis: {
                    categories: {{ dic_scp ['listerrbft'] | tojson }},
                  }
                }).render();
              });
            </script>
            <!-- End Bar Chart -->
        </div>
      </div>
    </div>

    <!-- CHART 3-->
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body2"> 
           <!-- Line Chart -->
           <div id="lineChart3"></div>
           <script>
            document.addEventListener("DOMContentLoaded", () => {
              new ApexCharts(document.querySelector("#lineChart3"), {
                series: [{
                  name: 'BFT',
                  data: {{ dic_scp ['listbft'] | tojson }}
                  }],
                chart: {
                  type: 'bar',
                  height: 250
                  },
                plotOptions: {
                  bar: {
                    borderRadius: 5,
                    horizontal: false,
                    columnWidth: '70%',
                      },
                    },
                dataLabels: {
                  enabled: false
                  },
                stroke: {
                  show: true,
                  width: 0,
                  colors: ['transparent']
                  },
                colors: ['#faac2e'],
                title: {
                    text: "BFT HOURLY",
                    floating: false,
                    align: 'center',
                  },
                xaxis: {
                  title: {
                      text: 'hour'
                      },
                  categories: {{ dic_scp ['list_hour'] | tojson }},
                  },
                yaxis: {
                  title: {
                      text: ''
                      }
                  },
                fill: {
                  opacity: 1
                  },
                tooltip: {
                  y: {
                    formatter: function (val) {
                      return  val 
                    }
                  }
                }
              }).render();
            });
          </script>
          <!-- End Line Chart -->
        </div>
      </div>
    </div>
    

   </div>


   <div class="row">

     <!-- CHART 3 -->
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
         <!-- Line Chart -->
         <div id="lineChart1"></div>
         <script>
          document.addEventListener("DOMContentLoaded", () => {
            new ApexCharts(document.querySelector("#lineChart1"), {
              series: [{
                name: "ALL ",
                data: {{ dic_scp['listsr'] | tojson }}
              },{
                name: "ROAMING ",
                data: {{ dic_scp['listroamsr'] | tojson }}
              },{
                name: "NON ROAMING ",
                data: {{ dic_scp['listnoroamsr'] | tojson }}
              }],
              chart: {
                height: 250,
                type: 'line',
                zoom: {
                  enabled: false
                }
              },
              dataLabels: {
                enabled: false
              },
              title: {
                  text: "SCP SUCCESS RATE (%)",
                  floating: false,
                  align: 'center',
              },
              yaxis :{
                max: 100,
                min:0,
              },
              xaxis: {
              categories: {{ dic_scp['list_hour'] | tojson }},
              title: {
                text: 'hour',
                rotate: 0,
               }
              },
              stroke: {
                curve: 'smooth',
                show: true,
                width: 3,
                lineCap: 'butt',
              },
              grid: {
                row: {
                  colors: ['#ffffff', 'transparent'], // takes an array which will be repeated on columns
                  opacity: 0.5
                },
              }
            }).render();
          });
        </script>
        <!-- End Line Chart -->
      </div>
    </div>
  </div>  

   <!-- CHART 1 -->
   <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
         <!-- Line Chart -->
         <div id="lineChart"></div>
         <script>
          document.addEventListener("DOMContentLoaded", () => {
            new ApexCharts(document.querySelector("#lineChart"), {
              series: [{
                  name: 'Attempt',
                  type: 'column',
                  data: {{ dic_scp ['roaming_att'] | tojson }}
                    }, {
                  name: 'Success (2001)',
                  type: 'line',
                  data: {{ dic_scp ['roaming_suc'] | tojson }}
                }],
              chart: {
                  height: 250,
                  type: 'line',
                  zoom: {
                      enabled: false
                    }
                },
              dataLabels: {
                  enabled: false
                },
              title: {
                  text: "ROAMING ",
                  floating: false,
                  align: 'center',
                },
              plotOptions: {
                  bar: {
                    borderRadius: 5,
                    columnWidth: '70%',
                    colors: {
                      backgroundBarRadius: 0,
                    }
                  },
                },
              stroke: {
                  curve: 'smooth',
                  show: true,
                  width: 3,
                  lineCap: 'butt',
                },
              markers: {
                  size: 4,
                  colors: '#ffffff',
                  strokeWidth: 0,
                },
              yaxis: {
                  title: {
                    text: 'traffic attempt',
                    rotate: -90,
                  }
                },
              xaxis: {
                  categories: {{ dic_scp ['list_hour'] | tojson }},
                  title: {
                    text: 'hour',
                    rotate: 0,
                  }
                },
              dataLabels: {
                  enabled: false,
                },
              colors:['#30b9db','#5a457d'],
              grid: {
                  row: {
                    colors: ['#ffffff', 'transparent'], // takes an array which will be repeated on columns
                    opacity: 0.5
                  },
                }
          }).render();
        });
      </script>
      <!-- End Line Chart -->
      </div>
    </div>
  </div>

   </div>

   <div class="row">

    

    <!-- CHART 5 -->
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
           <!-- Line Chart -->
           <div id="lineChart2"></div>
           <script>
            document.addEventListener("DOMContentLoaded", () => {
              new ApexCharts(document.querySelector("#lineChart2"), {
                series: [{
                    name: 'Attempt',
                    type: 'column',
                    data: {{ dic_scp ['nonroaming_att'] | tojson }}
                      }, {
                    name: 'Success (2001)',
                    type: 'line',
                    data: {{ dic_scp ['nonroaming_suc'] | tojson }}
                  }],
                chart: {
                    height: 250,
                    type: 'line',
                    zoom: {
                        enabled: false
                      }
                  },
                dataLabels: {
                    enabled: false
                  },
                title: {
                    text: "NON ROAMING",
                    floating: false,
                    align: 'center',
                  },
                plotOptions: {
                    bar: {
                      borderRadius: 5,
                      columnWidth: '70%',
                      colors: {
                        backgroundBarRadius: 0,
                      }
                    },
                  },
                stroke: {
                    curve: 'smooth',
                    show: true,
                    width: 3,
                    lineCap: 'butt',
                  },
                markers: {
                    size: 4,
                    colors: '#ffffff',
                    strokeWidth: 0,
                  },
                yaxis: {
                    title: {
                      text: 'traffic attempt',
                      rotate: -90,
                    }
                  },
                xaxis: {
                    categories: {{ dic_scp ['list_hour'] | tojson }},
                    title: {
                      text: 'hour',
                      rotate: 0,
                    }
                  },
                dataLabels: {
                    enabled: false,
                  },
                colors:['#30b9db','#5a457d'],
                grid: {
                    row: {
                      colors: ['#ffffff', 'transparent'], // takes an array which will be repeated on columns
                      opacity: 0.5
                    },
                  }
              }).render();
            });
          </script>
          <!-- End Line Chart -->
        </div>
      </div>
    </div>

    <!-- CHART 6 -->
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
           <!-- Line Chart -->
           <div id="combo3"></div>
           <script>
            document.addEventListener("DOMContentLoaded", () => {
              new ApexCharts(document.querySelector("#combo3"), {
                series: [{
                    name: 'Attempt',
                    type: 'column',
                    data: {{ dic_scp ['listsuc100'] | tojson }}
                      }, {
                    name: 'Success (2001)',
                    type: 'line',
                    data: {{ dic_scp ['listatt100'] | tojson }}
                  }],
                chart: {
                    height: 250,
                    type: 'line',
                    zoom: {
                        enabled: false
                      }
                  },
                dataLabels: {
                    enabled: false
                  },
                title: {
                    text: "SK 100",
                    floating: false,
                    align: 'center',
                  },
                plotOptions: {
                    bar: {
                      borderRadius: 5,
                      columnWidth: '70%',
                      colors: {
                        backgroundBarRadius: 0,
                      }
                    },
                  },
                stroke: {
                    curve: 'smooth',
                    show: true,
                    width: 3,
                    lineCap: 'butt',
                  },
                markers: {
                    size: 4,
                    colors: ['#ffffff'],
                    strokeWidth: 0,
                  },
                yaxis: {
                    title: {
                      text: 'traffic attempt',
                      rotate: -90,
                    }
                  },
                xaxis: {
                    categories: {{ dic_scp ['list_hour'] | tojson }},
                    title: {
                      text: 'hour',
                      rotate: 0,
                    }
                  },
                dataLabels: {
                    enabled: false,
                  },
                colors:['#30b9db','#5a457d'],
                grid: {
                    row: {
                      colors: ['#ffffff', 'transparent'], // takes an array which will be repeated on columns
                      opacity: 0.5
                    },
                  }
              }).render();
            });
          </script>
          <!-- End Line Chart -->
        </div>
      </div>
    </div>

   </div>

   <div class="row">

    

    <!-- CHART 7 -->
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
         <!-- Line Chart -->
           <div id="combo4"></div>
           <script>
            document.addEventListener("DOMContentLoaded", () => {
              new ApexCharts(document.querySelector("#combo4"), {
                series: [{
                    name: 'Attempt',
                    type: 'column',
                    data: {{ dic_scp ['listsuc200'] | tojson }}
                      }, {
                    name: 'Success (2001)',
                    type: 'line',
                    data: {{ dic_scp ['listatt200'] | tojson }}
                  }],
                chart: {
                    height: 250,
                    type: 'line',
                    zoom: {
                        enabled: false
                      }
                  },
                dataLabels: {
                    enabled: false
                  },
                title: {
                    text: "SK 200",
                    floating: false,
                    align: 'center',
                  },
                plotOptions: {
                    bar: {
                      borderRadius: 5,
                      columnWidth: '70%',
                      colors: {
                        backgroundBarRadius: 0,
                      }
                    },
                  },
                stroke: {
                    curve: 'smooth',
                    show: true,
                    width: 3,
                    lineCap: 'butt',
                  },
                markers: {
                    size: 4,
                    colors: '#ffffff',
                    strokeWidth: 0,
                  },
                yaxis: {
                    title: {
                      text: 'traffic attempt',
                      rotate: -90,
                    }
                  },
                xaxis: {
                    categories: {{ dic_scp ['list_hour'] | tojson }},
                    title: {
                      text: 'hour',
                      rotate: 0,
                    }
                  },
                dataLabels: {
                    enabled: false,
                  },
                colors:['#30b9db','#5a457d'],
                grid: {
                    row: {
                      colors: ['#ffffff', 'transparent'], // takes an array which will be repeated on columns
                      opacity: 0.5
                    },
                  }
              }).render();
            });
          </script>
          <!-- End Line Chart -->
        </div>
      </div>
    </div>  
    
     <!-- CHART 8 -->
     <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <!-- Line Chart -->
          <div id="combo5"></div>
          <script>
            document.addEventListener("DOMContentLoaded", () => {
              new ApexCharts(document.querySelector("#combo5"), {
                series: [{
                    name: 'Attempt',
                    type: 'column',
                    data: {{ dic_scp ['listatt300'] | tojson }}
                      }, {
                    name: 'Success (2001)',
                    type: 'line',
                    data: {{ dic_scp ['listsuc300'] | tojson }}
                  }],
                chart: {
                    height: 250,
                    type: 'line',
                    zoom: {
                        enabled: false
                      }
                  },
                dataLabels: {
                    enabled: false
                  },
                title: {
                    text: "SK 300",
                    floating: false,
                    align: 'center',
                  },
                plotOptions: {
                    bar: {
                      borderRadius: 5,
                      columnWidth: '70%',
                      colors: {
                        backgroundBarRadius: 0,
                      }
                    },
                  },
                stroke: {
                    curve: 'smooth',
                    show: true,
                    width: 3,
                    lineCap: 'butt',
                  },
                markers: {
                    size: 4,
                    colors: '#ffffff',
                    strokeWidth: 0,
                  },
                yaxis: {
                    title: {
                      text: 'traffic attempt',
                      rotate: -90,
                    }
                  },
                xaxis: {
                    categories: {{ dic_scp ['list_hour'] | tojson }},
                    title: {
                      text: 'hour',
                      rotate: 0,
                    }
                  },
                dataLabels: {
                    enabled: false,
                  },
                colors:['#30b9db','#5a457d'],
                grid: {
                    row: {
                      colors: ['#ffffff', 'transparent'], // takes an array which will be repeated on columns
                      opacity: 0.5
                    },
                  }
              }).render();
            });
          </script>
          <!-- End Line Chart -->
        </div>
      </div>
   </div>

  </div>

  <div class="row">

    <!-- TABLE-->
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body2">
          <table class="table table-striped">
            <thead>
              <tr class="table-success">
                <th scope="col">Item </th>
                <th scope="col">Traffic Attempt</th>
                <th scope="col">Traffic Success</th>
                <th scope="col">Success Rate (%)</th>
              </tr>
            </thead>
            <tbody>
              {% for t in dic_scp['lissum'] %}
              <tr >
                <td>{{ t['flag'] }}</td>
                <td>{{ t['attempt'] }}</td>
                <td>{{ t['success'] }}</td>
                <td>{{ t['sr'] }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div><!--row-->

</section>
{% endblock %}