{% extends "baseappmonitor.html" %}
{% block content %}
<section class="section dashboard">

<div class="row"> <!-- row1 -->

    <div class="col-lg-4">  <!-- col1 -->
      <div class="card">
        <div class="card-body2">
		
		      <table class="table table-custom1"">
            <thead >
              <tr>
                <th scope="col"  colspan="4" class="table-secondary table-header6 data-info2"><center>BULK MO ATTEMPT HOUR WISE</center></th>
              </tr>
            </thead >  
          </table>
          <div id="lineChart"></div>
          <!-- Start Chart -->
          <script>
            document.addEventListener("DOMContentLoaded", () => {
              new ApexCharts(document.querySelector("#lineChart"), {
                series: [{
                  name: "today",
                  data:  {{ datahour['BMOATT_0'] | tojson }} 
                        },
                      {
                  name: "d-1",
                  data: {{ datahour['BMOATT_1'] | tojson }}
                      },
                      {
                  name: "d-7",
                  data: {{ datahour['BMOATT_7'] | tojson }} 
                }],
                chart: {
                  height: 200,
                  type: 'line',
                  zoom: {
                    enabled: false
                  }
                },
                dataLabels: {
                  enabled: false
                },
				colors:['#009fb6','#4e9117','#fbbd3c'],
                stroke: {
                  curve: 'smooth'
                },
                xaxis: {
                  categories: {{ datahour['CDR_HOUR'] |tojson }},
                  labels: {
                    show: true,
                    rotateAlways: false
                      },
                },
                grid: {
                  row: {
                    colors: ['#ffffff', 'transparent'], // takes an array which will be repeated on columns
                    opacity: 0.5
                  },
                }
              }).render();
            });
          </script>
          <!-- End Line Chart -->
        </div>
      </div>
    </div> <!-- col1 -->  

    <div class="col-lg-4">  <!-- col2 -->
      <div class="card">
        <div class="card-body2">
		
		      <table class="table table-custom1"">
            <thead >
              <tr>
                <th scope="col"  colspan="4" class="table-secondary table-header6 data-info2"><center>BULK MT ATTEMPT HOUR WISE</center></th>
              </tr>
            </thead >  
          </table>
          <div id="lineChart2"></div>
          <!-- Start Chart -->
          <script>
            document.addEventListener("DOMContentLoaded", () => {
              new ApexCharts(document.querySelector("#lineChart2"), {
                series: [{
                  name: "today",
                  data:  {{ datahour['BMTATT_0'] | tojson }} 
                        },
                      {
                  name: "d-1",
                  data: {{ datahour['BMTATT_1'] | tojson }}
                      },
                      {
                  name: "d-7",
                  data: {{ datahour['BMTATT_7'] | tojson }} 
                }],
                chart: {
                  height: 200,
                  type: 'line',
                  zoom: {
                    enabled: false
                  }
                },
                dataLabels: {
                  enabled: false
                },
				colors:['#009fb6','#4e9117','#fbbd3c'],
                stroke: {
                  curve: 'smooth'
                },
                xaxis: {
                  categories: {{ datahour['CDR_HOUR'] |tojson }},
                  labels: {
                    show: true,
                    rotate: -90,
                    rotateAlways: false
                      },
                },
                grid: {
                  row: {
                    colors: ['#ffffff', 'transparent'], // takes an array which will be repeated on columns
                    opacity: 0.5
                  },
                }
              }).render();
            });
          </script>
          <!-- End Line Chart -->
        </div>
      </div>
    </div> <!-- col2 --> 

    <div class="col-lg-4">  <!-- col3 -->
      <div class="card">
        <div class="card-body2">
		
		      <table class="table table-custom1"">
            <thead >
              <tr>
                <th scope="col"  colspan="4" class="table-secondary table-header6 data-info2"><center>DIGITAL SERVICE ATTEMPT HOUR WISE</center></th>
              </tr>
            </thead >  
          </table>
          <div id="lineChart3"></div>
          <!-- Start Chart -->
          <script>
            document.addEventListener("DOMContentLoaded", () => {
              new ApexCharts(document.querySelector("#lineChart3"), {
                series: [{
                  name: "today",
                  data:  {{ datahour['DIGATT_0'] | tojson }} 
                        },
                      {
                  name: "d-1",
                  data: {{ datahour['DIGATT_1'] | tojson }}
                      },
                      {
                  name: "d-7",
                  data: {{ datahour['DIGATT_7'] | tojson }} 
                }],
                chart: {
                  height: 200,
                  type: 'line',
                  zoom: {
                    enabled: false
                  }
                },
                dataLabels: {
                  enabled: false
                },
				colors:['#009fb6','#4e9117','#fbbd3c'],
                stroke: {
                  curve: 'smooth'
                },
                xaxis: {
                  categories: {{ datahour['CDR_HOUR'] |tojson }},
                  labels: {
                    show: true,
                    rotateAlways: false
                      },
                },
                grid: {
                  row: {
                    colors: ['#ffffff', 'transparent'], // takes an array which will be repeated on columns
                    opacity: 0.5
                  },
                }
              }).render();
            });
          </script>
          <!-- End Line Chart -->
        </div>
      </div>
    </div> <!-- col3 --> 

</div> <!-- row1 -->

<div class="row"> <!-- row2 -->

  <div class="col-lg-4">  <!-- col1 -->
    <div class="card">
      <div class="card-body">
  
        <table class="table table-custom1"">
          <thead >
            <tr>
              <th scope="col"  colspan="4" class="table-secondary data-info3"><center>BULK MO ATTEMPT MINUTE WISE</center></th>
            </tr>
          </thead >  
        </table>
        <div id="lineChart4"></div>
        <!-- Start Chart -->
        <script>
          document.addEventListener("DOMContentLoaded", () => {
            new ApexCharts(document.querySelector("#lineChart4"), {
              series: [{
                name: "today",
                data:  {{ datamin['BMOATT_0'] | tojson }} 
                      },
                    {
                name: "d-1",
                data: {{ datamin['BMOATT_1'] | tojson }}
                    },
                    {
                name: "d-7",
                data: {{ datamin['BMOATT_7'] | tojson }} 
              }],
              chart: {
                height: 200,
                type: 'line',
                zoom: {
                  enabled: false
                }
              },
              dataLabels: {
                enabled: false
              },
			  colors:['#009fb6','#4e9117','#fbbd3c'],
              stroke: {
                curve: 'smooth'
              },
              xaxis: {
                categories: {{ datamin['CDR_HOUR'] |tojson }},
                labels: {
                  show: true,
                  rotate: -90,
                  rotateAlways: false
                    },
              },
              grid: {
                row: {
                  colors: ['#ffffff', 'transparent'], // takes an array which will be repeated on columns
                  opacity: 0.5
                },
              }
            }).render();
          });
        </script>
        <!-- End Line Chart -->
      </div>
    </div>
  </div> <!-- col1 -->  

  <div class="col-lg-4">  <!-- col2 -->
    <div class="card">
      <div class="card-body">
  
        <table class="table table-custom1"">
          <thead >
            <tr>
              <th scope="col"  colspan="4" class="table-secondary data-info3"><center>BULK MT ATTEMPT MINUTE WISE</center></th>
            </tr>
          </thead >  
        </table>
        <div id="lineChart5"></div>
        <!-- Start Chart -->
        <script>
          document.addEventListener("DOMContentLoaded", () => {
            new ApexCharts(document.querySelector("#lineChart5"), {
              series: [{
                name: "today",
                data:  {{ datamin['BMTATT_0'] | tojson }} 
                      },
                    {
                name: "d-1",
                data: {{ datamin['BMTATT_1'] | tojson }}
                    },
                    {
                name: "d-7",
                data: {{ datamin['BMTATT_7'] | tojson }} 
              }],
              chart: {
                height: 200,
                type: 'line',
                zoom: {
                  enabled: false
                }
              },
              dataLabels: {
                enabled: false
              },
			  colors:['#009fb6','#4e9117','#fbbd3c'],
              stroke: {
                curve: 'smooth'
              },
              xaxis: {
                categories: {{ datamin['CDR_HOUR'] |tojson }},
                labels: {
                  show: true,
                  rotate: -90,
                  rotateAlways: false
                    },
              },
              grid: {
                row: {
                  colors: ['#ffffff', 'transparent'], // takes an array which will be repeated on columns
                  opacity: 0.5
                },
              }
            }).render();
          });
        </script>
        <!-- End Line Chart -->
      </div>
    </div>
  </div> <!-- col2 --> 
  
  <div class="col-lg-4">  <!-- col3 -->
    <div class="card">
      <div class="card-body">
  
        <table class="table table-custom1"">
          <thead >
            <tr>
              <th scope="col"  colspan="4" class="table-secondary data-info3"><center>DIGITAL SERVICE ATTEMPT MINUTE WISE</center></th>
            </tr>
          </thead >  
        </table>
        <div id="lineChart6"></div>
        <!-- Start Chart -->
        <script>
          document.addEventListener("DOMContentLoaded", () => {
            new ApexCharts(document.querySelector("#lineChart6"), {
              series: [{
                name: "today",
                data:  {{ datamin['DIGATT_0'] | tojson }} 
                      },
                    {
                name: "d-1",
                data: {{ datamin['DIGATT_1'] | tojson }}
                    },
                    {
                name: "d-7",
                data: {{ datamin['DIGATT_7'] | tojson }} 
              }],
              chart: {
                height: 200,
                type: 'line',
                zoom: {
                  enabled: false
                }
              },
              dataLabels: {
                enabled: false
              },
			  colors:['#009fb6','#4e9117','#fbbd3c'],
              stroke: {
                curve: 'smooth'
              },
              xaxis: {
                categories: {{ datamin['CDR_HOUR'] |tojson }},
                labels: {
                  show: true,
                  rotate: -90,
                  rotateAlways: false
                    },
              },
              grid: {
                row: {
                  colors: ['#ffffff', 'transparent'], // takes an array which will be repeated on columns
                  opacity: 0.5
                },
              }
            }).render();
          });
        </script>
        <!-- End Line Chart -->
      </div>
    </div>
  </div> <!-- col3 -->

</div> <!-- row2 -->


<div class="row"><!-- row3 -->

  <div class="col-lg-4">  <!-- col1 -->
    <div class="card">
      <div class="card-body">
  
        <table class="table table-custom1"">
          <thead >
            <tr>
              <th scope="col"  colspan="4" class="table-secondary table-header6 data-info2"><center>BULK MO SUCCESS HOUR WISE</center></th>
            </tr>
          </thead >  
        </table>
        <div id="lineChart7"></div>
        <!-- Start Chart -->
        <script>
          document.addEventListener("DOMContentLoaded", () => {
            new ApexCharts(document.querySelector("#lineChart7"), {
              series: [{
                name: "today",
                data:  {{ datahour['BMOSUC_0'] | tojson }} 
                      },
                    {
                name: "d-1",
                data: {{ datahour['BMOSUC_1'] | tojson }}
                    },
                    {
                name: "d-7",
                data: {{ datahour['BMOSUC_7'] | tojson }} 
              }],
              chart: {
                height: 200,
                type: 'line',
                zoom: {
                  enabled: false
                }
              },
              dataLabels: {
                enabled: false
              },
			  colors:['#009fb6','#4e9117','#fbbd3c'],
              stroke: {
                curve: 'smooth'
              },
              xaxis: {
                categories: {{ datahour['CDR_HOUR'] |tojson }},
                labels: {
                  show: true,
                  rotate: -90,
                  rotateAlways: false
                    },
              },
              grid: {
                row: {
                  colors: ['#ffffff', 'transparent'], // takes an array which will be repeated on columns
                  opacity: 0.5
                },
              }
            }).render();
          });
        </script>
        <!-- End Line Chart -->
      </div>
    </div>
  </div> <!-- col1 -->  

  <div class="col-lg-4">  <!-- col2 -->
    <div class="card">
      <div class="card-body">
  
        <table class="table table-custom1"">
          <thead >
            <tr>
              <th scope="col"  colspan="4" class="table-secondary table-header6 data-info2"><center>BULK MT SUCCESS HOUR WISE</center></th>
            </tr>
          </thead >  
        </table>
        <div id="lineChart8"></div>
        <!-- Start Chart -->
        <script>
          document.addEventListener("DOMContentLoaded", () => {
            new ApexCharts(document.querySelector("#lineChart8"), {
              series: [{
                name: "today",
                data:  {{ datahour['BMTSUC_0'] | tojson }} 
                      },
                    {
                name: "d-1",
                data: {{ datahour['BMTSUC_1'] | tojson }}
                    },
                    {
                name: "d-7",
                data: {{ datahour['BMTSUC_7'] | tojson }} 
              }],
              chart: {
                height: 200,
                type: 'line',
                zoom: {
                  enabled: false
                }
              },
              dataLabels: {
                enabled: false
              },
			  colors:['#009fb6','#4e9117','#fbbd3c'],
              stroke: {
                curve: 'smooth'
              },
              xaxis: {
                categories: {{ datahour['CDR_HOUR'] |tojson }},
                labels: {
                  show: true,
                  rotate: -90,
                  rotateAlways: false
                    },
              },
              grid: {
                row: {
                  colors: ['#ffffff', 'transparent'], // takes an array which will be repeated on columns
                  opacity: 0.5
                },
              }
            }).render();
          });
        </script>
        <!-- End Line Chart -->
      </div>
    </div>
  </div> <!-- col2 -->

  <div class="col-lg-4">  <!-- col3 -->
    <div class="card">
      <div class="card-body">
  
        <table class="table table-custom1"">
          <thead >
            <tr>
              <th scope="col"  colspan="4" class="table-secondary table-header6 data-info2"><center>DIGITAL SERVICE SUCCESS HOUR WISE</center></th>
            </tr>
          </thead >  
        </table>
        <div id="lineChart9"></div>
        <!-- Start Chart -->
        <script>
          document.addEventListener("DOMContentLoaded", () => {
            new ApexCharts(document.querySelector("#lineChart9"), {
              series: [{
                name: "today",
                data:  {{ datahour['DIGSUC_0'] | tojson }} 
                      },
                    {
                name: "d-1",
                data: {{ datahour['DIGSUC_1'] | tojson }}
                    },
                    {
                name: "d-7",
                data: {{ datahour['DIGSUC_7'] | tojson }} 
              }],
              chart: {
                height: 200,
                type: 'line',
                zoom: {
                  enabled: false
                }
              },
              dataLabels: {
                enabled: false
              },
			  colors:['#009fb6','#4e9117','#fbbd3c'],
              stroke: {
                curve: 'smooth'
              },
              xaxis: {
                categories: {{ datahour['CDR_HOUR'] |tojson }},
                labels: {
                  show: true,
                  rotate: -90,
                  rotateAlways: false
                    },
              },
              grid: {
                row: {
                  colors: ['#ffffff', 'transparent'], // takes an array which will be repeated on columns
                  opacity: 0.5
                },
              }
            }).render();
          });
        </script>
        <!-- End Line Chart -->
      </div>
    </div>
  </div> <!-- col3 -->

</div> <!-- row3 -->

<div class="row"><!-- row4 -->

  <div class="col-lg-4">  <!-- col1 -->
    <div class="card">
      <div class="card-body">
  
        <table class="table table-custom1"">
          <thead >
            <tr>
              <th scope="col"  colspan="4" class="table-secondary data-info3"><center>BULK MO SUCCESS MINUTE WISE</center></th>
            </tr>
          </thead >  
        </table>
        <div id="lineChart10"></div>
        <!-- Start Chart -->
        <script>
          document.addEventListener("DOMContentLoaded", () => {
            new ApexCharts(document.querySelector("#lineChart10"), {
              series: [{
                name: "today",
                data:  {{ datamin['BMOSUC_0'] | tojson }} 
                      },
                    {
                name: "d-1",
                data: {{ datamin['BMOSUC_1'] | tojson }}
                    },
                    {
                name: "d-7",
                data: {{ datamin['BMOSUC_7'] | tojson }} 
              }],
              chart: {
                height: 200,
                type: 'line',
                zoom: {
                  enabled: false
                }
              },
              dataLabels: {
                enabled: false
              },
			  colors:['#009fb6','#4e9117','#fbbd3c'],
              stroke: {
                curve: 'smooth'
              },
              xaxis: {
                categories: {{ datamin['CDR_HOUR'] |tojson }},
                labels: {
                  show: true,
                  rotate: -90,
                  rotateAlways: false
                    },
              },
              grid: {
                row: {
                  colors: ['#ffffff', 'transparent'], // takes an array which will be repeated on columns
                  opacity: 0.5
                },
              }
            }).render();
          });
        </script>
        <!-- End Line Chart -->
      </div>
    </div>
  </div> <!-- col1 -->
  
  <div class="col-lg-4">  <!-- col2 -->
    <div class="card">
      <div class="card-body">
  
        <table class="table table-custom1"">
          <thead >
            <tr>
              <th scope="col"  colspan="4" class="table-secondary data-info3"><center>BULK MT SUCCESS MINUTE WISE</center></th>
            </tr>
          </thead >  
        </table>
        <div id="lineChart11"></div>
        <!-- Start Chart -->
        <script>
          document.addEventListener("DOMContentLoaded", () => {
            new ApexCharts(document.querySelector("#lineChart11"), {
              series: [{
                name: "today",
                data:  {{ datamin['BMTSUC_0'] | tojson }} 
                      },
                    {
                name: "d-1",
                data: {{ datamin['BMTSUC_1'] | tojson }}
                    },
                    {
                name: "d-7",
                data: {{ datamin['BMTSUC_7'] | tojson }} 
              }],
              chart: {
                height: 200,
                type: 'line',
                zoom: {
                  enabled: false
                }
              },
              dataLabels: {
                enabled: false
              },
			  colors:['#009fb6','#4e9117','#fbbd3c'],
              stroke: {
                curve: 'smooth'
              },
              xaxis: {
                categories: {{ datamin['CDR_HOUR'] |tojson }},
                labels: {
                  show: true,
                  rotate: -90,
                  rotateAlways: false
                    },
              },
              grid: {
                row: {
                  colors: ['#ffffff', 'transparent'], // takes an array which will be repeated on columns
                  opacity: 0.5
                },
              }
            }).render();
          });
        </script>
        <!-- End Line Chart -->
      </div>
    </div>
  </div> <!-- col2 -->

  <div class="col-lg-4">  <!-- col3 -->
    <div class="card">
      <div class="card-body">
  
        <table class="table table-custom1"">
          <thead >
            <tr>
              <th scope="col"  colspan="4" class="table-secondary data-info3"><center>DIGITAL SERVICE SUCCESS MINUTE WISE</center></th>
            </tr>
          </thead >  
        </table>
        <div id="lineChart12"></div>
        <!-- Start Chart -->
        <script>
          document.addEventListener("DOMContentLoaded", () => {
            new ApexCharts(document.querySelector("#lineChart12"), {
              series: [{
                name: "today",
                data:  {{ datamin['DIGSUC_0'] | tojson }} 
                      },
                    {
                name: "d-1",
                data: {{ datamin['DIGSUC_1'] | tojson }}
                    },
                    {
                name: "d-7",
                data: {{ datamin['DIGSUC_7'] | tojson }} 
              }],
              chart: {
                height: 200,
                type: 'line',
                zoom: {
                  enabled: false
                }
              },
              dataLabels: {
                enabled: false
              },
			  colors:['#009fb6','#4e9117','#fbbd3c'],
              stroke: {
                curve: 'smooth'
              },
              xaxis: {
                categories: {{ datamin['CDR_HOUR'] |tojson }},
                labels: {
                  show: true,
                  rotate: -90,
                  rotateAlways: false
                    },
              },
              grid: {
                row: {
                  colors: ['#ffffff', 'transparent'], // takes an array which will be repeated on columns
                  opacity: 0.5
                },
              }
            }).render();
          });
        </script>
        <!-- End Line Chart -->
      </div>
    </div>
  </div> <!-- col3 -->

</div> <!-- row4 --> 

<div class="row"><!-- row5 -->

  <div class="col-lg-4">  <!-- col1 -->
    <div class="card">
      <div class="card-body">
  
        <table class="table table-custom1"">
          <thead >
            <tr>
              <th scope="col"  colspan="4" class="table-secondary data-info2"><center>SUBSCRIPTION MO ATTEMPT HOUR WISE</center></th>
            </tr>
          </thead >  
        </table>
        <div id="lineChart13"></div>
        <!-- Start Chart -->
        <script>
          document.addEventListener("DOMContentLoaded", () => {
            new ApexCharts(document.querySelector("#lineChart13"), {
              series: [{
                name: "today",
                data:  {{ datahour['SMOATT_0'] | tojson }} 
                      },
                    {
                name: "d-1",
                data: {{ datahour['SMOATT_1'] | tojson }}
                    },
                    {
                name: "d-7",
                data: {{ datahour['SMOATT_7'] | tojson }} 
              }],
              chart: {
                height: 200,
                type: 'line',
                zoom: {
                  enabled: false
                }
              },
              dataLabels: {
                enabled: false
              },
			  colors:['#009fb6','#4e9117','#fbbd3c'],
              stroke: {
                curve: 'smooth'
              },
              xaxis: {
                categories: {{ datahour['CDR_HOUR'] |tojson }},
                labels: {
                  show: true,
                  rotateAlways: false
                    },
              },
              grid: {
                row: {
                  colors: ['#ffffff', 'transparent'], // takes an array which will be repeated on columns
                  opacity: 0.5
                },
              }
            }).render();
          });
        </script>
        <!-- End Line Chart -->
      </div>
    </div>
  </div> <!-- col1 --> 
  

  <div class="col-lg-4">  <!-- col2 -->
    <div class="card">
      <div class="card-body">
  
        <table class="table table-custom1"">
          <thead >
            <tr>
              <th scope="col"  colspan="4" class="table-secondary data-info2"><center>SUBSCRIPTION MO SUCCESS HOUR WISE</center></th>
            </tr>
          </thead >  
        </table>
        <div id="lineChart14"></div>
        <!-- Start Chart -->
        <script>
          document.addEventListener("DOMContentLoaded", () => {
            new ApexCharts(document.querySelector("#lineChart14"), {
              series: [{
                name: "today",
                data:  {{ datahour['SMOSUC_0'] | tojson }} 
                      },
                    {
                name: "d-1",
                data: {{ datahour['SMOSUC_1'] | tojson }}
                    },
                    {
                name: "d-7",
                data: {{ datahour['SMOSUC_7'] | tojson }} 
              }],
              chart: {
                height: 200,
                type: 'line',
                zoom: {
                  enabled: false
                }
              },
              dataLabels: {
                enabled: false
              },
			  colors:['#009fb6','#4e9117','#fbbd3c'],
              stroke: {
                curve: 'smooth'
              },
              xaxis: {
                categories: {{ datahour['CDR_HOUR'] |tojson }},
                labels: {
                  show: true,
                  rotateAlways: false
                    },
              },
              grid: {
                row: {
                  colors: ['#ffffff', 'transparent'], // takes an array which will be repeated on columns
                  opacity: 0.5
                },
              }
            }).render();
          });
        </script>
        <!-- End Line Chart -->
      </div>
    </div>
  </div> <!-- col2 -->
  
  <div class="col-lg-4">  <!-- col3 -->
    <div class="card">
      <div class="card-body">
  
        <table class="table table-custom1"">
          <thead >
            <tr>
              <th scope="col"  colspan="4" class="table-secondary data-info2"><center>SUBSCRIPTION MT ATTEMPT HOUR WISE</center></th>
            </tr>
          </thead >  
        </table>
        <div id="lineChart15"></div>
        <!-- Start Chart -->
        <script>
          document.addEventListener("DOMContentLoaded", () => {
            new ApexCharts(document.querySelector("#lineChart15"), {
              series: [{
                name: "today",
                data:  {{ datahour['SMTATT_0'] | tojson }} 
                      },
                    {
                name: "d-1",
                data: {{ datahour['SMTATT_1'] | tojson }}
                    },
                    {
                name: "d-7",
                data: {{ datahour['SMTATT_7'] | tojson }} 
              }],
              chart: {
                height: 200,
                type: 'line',
                zoom: {
                  enabled: false
                }
              },
              dataLabels: {
                enabled: false
              },
			  colors:['#009fb6','#4e9117','#fbbd3c'],
              stroke: {
                curve: 'smooth'
              },
              xaxis: {
                categories: {{ datahour['CDR_HOUR'] |tojson }},
                labels: {
                  show: true,
                  rotateAlways: false
                    },
              },
              grid: {
                row: {
                  colors: ['#ffffff', 'transparent'], // takes an array which will be repeated on columns
                  opacity: 0.5
                },
              }
            }).render();
          });
        </script>
        <!-- End Line Chart -->
      </div>
    </div>
  </div> <!-- col3 -->

</div> <!-- row5 -->
 
 <div class="row"><!-- row6 -->

  <div class="col-lg-4">  <!-- col1 -->
    <div class="card">
      <div class="card-body">
  
        <table class="table table-custom1"">
          <thead >
            <tr>
              <th scope="col"  colspan="4" class="table-secondary data-info3"><center>SUBSCRIPTION MO ATTEMPT MINUTE WISE</center></th>
            </tr>
          </thead >  
        </table>
        <div id="lineChart16"></div>
        <!-- Start Chart -->
        <script>
          document.addEventListener("DOMContentLoaded", () => {
            new ApexCharts(document.querySelector("#lineChart16"), {
              series: [{
                name: "today",
                data:  {{ datamin['SMOATT_0'] | tojson }} 
                      },
                    {
                name: "d-1",
                data: {{ datamin['SMOATT_1'] | tojson }}
                    },
                    {
                name: "d-7",
                data: {{ datamin['SMOATT_7'] | tojson }} 
              }],
              chart: {
                height: 200,
                type: 'line',
                zoom: {
                  enabled: false
                }
              },
              dataLabels: {
                enabled: false
              },
			  colors:['#009fb6','#4e9117','#fbbd3c'],
              stroke: {
                curve: 'smooth'
              },
              xaxis: {
                categories: {{ datamin['CDR_HOUR'] |tojson }},
                labels: {
                  show: true,
                  rotate: -90,
                  rotateAlways: false
                    },
              },
              grid: {
                row: {
                  colors: ['#ffffff', 'transparent'], // takes an array which will be repeated on columns
                  opacity: 0.5
                },
              }
            }).render();
          });
        </script>
        <!-- End Line Chart -->
      </div>
    </div>
  </div> <!-- col1 -->

  <div class="col-lg-4">  <!-- col2 -->
    <div class="card">
      <div class="card-body">
  
        <table class="table table-custom1"">
          <thead >
            <tr>
              <th scope="col"  colspan="4" class="table-secondary data-info3"><center>SUBSCRIPTION MO SUCCESS MINUTE WISE</center></th>
            </tr>
          </thead >  
        </table>
        <div id="lineChart17"></div>
        <!-- Start Chart -->
        <script>
          document.addEventListener("DOMContentLoaded", () => {
            new ApexCharts(document.querySelector("#lineChart17"), {
              series: [{
                name: "today",
                data:  {{ datamin['SMOSUC_0'] | tojson }} 
                      },
                    {
                name: "d-1",
                data: {{ datamin['SMOSUC_1'] | tojson }}
                    },
                    {
                name: "d-7",
                data: {{ datamin['SMOSUC_7'] | tojson }} 
              }],
              chart: {
                height: 200,
                type: 'line',
                zoom: {
                  enabled: false
                }
              },
              dataLabels: {
                enabled: false
              },
			  colors:['#009fb6','#4e9117','#fbbd3c'],
              stroke: {
                curve: 'smooth'
              },
              xaxis: {
                categories: {{ datamin['CDR_HOUR'] |tojson }},
                labels: {
                  show: true,
                  rotate: -90,
                  rotateAlways: false
                    },
              },
              grid: {
                row: {
                  colors: ['#ffffff', 'transparent'], // takes an array which will be repeated on columns
                  opacity: 0.5
                },
              }
            }).render();
          });
        </script>
        <!-- End Line Chart -->
      </div>
    </div>
  </div> <!-- col2 -->

  <div class="col-lg-4">  <!-- col3 -->
    <div class="card">
      <div class="card-body">
  
        <table class="table table-custom1"">
          <thead >
            <tr>
              <th scope="col"  colspan="4" class="table-secondary data-info3"><center>SUBSCRIPTION MT ATTEMPT MINUTE WISE</center></th>
            </tr>
          </thead >  
        </table>
        <div id="lineChart18"></div>
        <!-- Start Chart -->
        <script>
          document.addEventListener("DOMContentLoaded", () => {
            new ApexCharts(document.querySelector("#lineChart18"), {
              series: [{
                name: "today",
                data:  {{ datamin['SMTATT_0'] | tojson }} 
                      },
                    {
                name: "d-1",
                data: {{ datamin['SMTATT_1'] | tojson }}
                    },
                    {
                name: "d-7",
                data: {{ datamin['SMTATT_7'] | tojson }} 
              }],
              chart: {
                height: 200,
                type: 'line',
                zoom: {
                  enabled: false
                }
              },
              dataLabels: {
                enabled: false
              },
			  colors:['#009fb6','#4e9117','#fbbd3c'],
              stroke: {
                curve: 'smooth'
              },
              xaxis: {
                categories: {{ datamin['CDR_HOUR'] |tojson }},
                labels: {
                  show: true,
                  rotate: -90,
                  rotateAlways: false
                    },
              },
              grid: {
                row: {
                  colors: ['#ffffff', 'transparent'], // takes an array which will be repeated on columns
                  opacity: 0.5
                },
              }
            }).render();
          });
        </script>
        <!-- End Line Chart -->
      </div>
    </div>
  </div> <!-- col3 -->


</div> <!-- row6 -->


<div class="row"><!-- row7 -->
  
  <div class="col-lg-4">  <!-- col2 -->
    <div class="card">
      <div class="card-body">
  
        <table class="table table-custom1"">
          <thead >
            <tr>
              <th scope="col"  colspan="4" class="table-secondary data-info2"><center>SUBSCRIPTION MT SUCCESS HOUR WISE</center></th>
            </tr>
          </thead >  
        </table>
        <div id="lineChart20"></div>
        <!-- Start Chart -->
        <script>
          document.addEventListener("DOMContentLoaded", () => {
            new ApexCharts(document.querySelector("#lineChart20"), {
              series: [{
                name: "today",
                data:  {{ datahour['SMTSUC_0'] | tojson }} 
                      },
                    {
                name: "d-1",
                data: {{ datahour['SMTSUC_1'] | tojson }}
                    },
                    {
                name: "d-7",
                data: {{ datahour['SMTSUC_7'] | tojson }} 
              }],
              chart: {
                height: 200,
                type: 'line',
                zoom: {
                  enabled: false
                }
              },
              dataLabels: {
                enabled: false
              },
			  colors:['#009fb6','#4e9117','#fbbd3c'],
              stroke: {
                curve: 'smooth'
              },
              xaxis: {
                categories: {{ datahour['CDR_HOUR'] |tojson }},
                labels: {
                  show: true,
                  rotateAlways: false
                    },
              },
              grid: {
                row: {
                  colors: ['#ffffff', 'transparent'], // takes an array which will be repeated on columns
                  opacity: 0.5
                },
              }
            }).render();
          });
        </script>
        <!-- End Line Chart -->
      </div>
    </div>
  </div> <!-- col2 -->

  <div class="col-lg-4">  <!-- col3 -->
    <div class="card">
      <div class="card-body">
  
        <table class="table table-custom1"">
          <thead >
            <tr>
              <th scope="col"  colspan="4" class="table-secondary data-info3"><center>SUBSCRIPTION MT SUCCESS  MINUTE WISE</center></th>
            </tr>
          </thead >  
        </table>
        <div id="lineChart21"></div>
        <!-- Start Chart -->
        <script>
          document.addEventListener("DOMContentLoaded", () => {
            new ApexCharts(document.querySelector("#lineChart21"), {
              series: [{
                name: "today",
                data:  {{ datamin['SMTSUC_0'] | tojson }} 
                      },
                    {
                name: "d-1",
                data: {{ datamin['SMTSUC_1'] | tojson }}
                    },
                    {
                name: "d-7",
                data: {{ datamin['SMTSUC_7'] | tojson }} 
              }],
              chart: {
                height: 200,
                type: 'line',
                zoom: {
                  enabled: false
                }
              },
              dataLabels: {
                enabled: false
              },
              stroke: {
                curve: 'smooth'
              },
              xaxis: {
                categories: {{ datamin['CDR_HOUR'] |tojson }},
                labels: {
                  show: true,
				  rotate: -90,
                  rotateAlways: false
                    },
              },
			  colors:['#009fb6','#4e9117','#fbbd3c'],
              grid: {
                row: {
                  colors: ['#ffffff', 'transparent'], // takes an array which will be repeated on columns
                  opacity: 0.5
                },
              }
            }).render();
          });
        </script>
        <!-- End Line Chart -->
      </div>
    </div>
  </div> <!-- col3 -->

</div><!-- row7 -->


</section>
{% endblock %}