{% extends "baseappmonitor.html" %}
{% block content %}
<section class="section dashboard">

<div class="row"> <!-- row1 -->

    <div class="col-lg-12">  <!-- col1 -->
      <div class="card">
        <div class="card-body2">
		
		      <table class="table table-sm text-center">
            <thead>
              <tr>
                <th scope="col"  colspan="4" class="table-header6 data-info6 table-sm"><center>SDP ERROR MINUTE WISE</center></th>
                <th></th> 
                <th scope="col"  colspan="6" class="table-header6 data-info6 table-sm"><center>SCP ERROR MINUTE WISE</center></th>
              </tr>
              <tr class="">
                <th scope="col" class="table-header1">HOUR MINUTE</th>
                <th scope="col" class="table-header1">SMSC TIMEOUT</th>
                <th scope="col" class="table-header1">CP NOTIF FAIL</th>
                <th scope="col" class="table-header1">BILLING TIMEOUT</th>
                <th>    </th>
                <th scope="col" class="table-header4">HOUR MINUTE</th>
                <th scope="col" class="table-header4">ERR_5000</th>
                <th scope="col" class="table-header4">ERR_5004</th>
                <th scope="col" class="table-header4">ERR_5005</th>
                <th scope="col" class="table-header4">ERR_5012</th>
                <th scope="col" class="table-header4">ERR_6000</th>
              </tr>
            </thead> 
            <body>
              {% for t in data %}
              <tr>
                <td class="cell_txt_bold">{{ t['HOURMINUTE'] }}</td>
                <td class ="{{ t['err83_colour']  }}">{{ t['err83'] }}</td>
                <td class ="{{ t['err601_colour']  }}">{{ t['err601'] }}</td>
                <td class ="{{ t['billing_timeout_colour']  }}">{{ t['billing_timeout'] }}</td>
                <td></td>
                <td class="cell_txt_bold">{{ t['HOURMINUTE'] }}</td>
                <td class ="{{ t['err5000_colour']  }}">{{ t['err5000'] }}</td>
                <td class ="{{ t['err5004_colour']  }}">{{ t['err5004'] }}</td>
                <td class ="{{ t['err5005_colour']  }}">{{ t['err5005'] }}</td>
                <td class ="{{ t['err5012_colour']  }}">{{ t['err5012'] }}</td>
                <td class ="{{ t['err6000_colour']  }}">{{ t['err6000'] }}</td>
              </tr>
              {% endfor %}
            </body> 
          </table>
          
        </div>
      </div>
    </div> <!-- col1 -->  

    
          
        </div>
      </div>
    </div> <!-- col2 -->  

    

</div> <!-- row1 -->




</section>
{% endblock %}