{% extends "baseappmonitor.html" %}
{% block content %}
<section class="section dashboard">

<div class="row"> <!-- row1 -->

    <div class="col-lg-4">  <!-- col1 -->
      <div class="card">
        <div class="card-body2">
		
		      <table class="table table-custom1"">
            <thead >
              <tr>
                <th scope="col"  colspan="4" class="table-secondary table-header6 data-increase"><center>VOICE TRAFFIC ATTEMPT HOUR WISE</center></th>
              </tr>
            </thead >  
          </table>
          <div id="lineChart"></div>
          <!-- Start Chart -->
          <script>
            document.addEventListener("DOMContentLoaded", () => {
              new ApexCharts(document.querySelector("#lineChart"), {
                series: [{
                  name: "today",
                  data:  {{ datahour['ATT_0'] | tojson }} 
                        },
                      {
                  name: "d-1",
                  data: {{ datahour['ATT_1'] | tojson }}
                      },
                      {
                  name: "d-7",
                  data: {{ datahour['ATT_7'] | tojson }} 
                }],
                chart: {
                  height: 200,
                  type: 'line',
                  zoom: {
                    enabled: false
                  }
                },
                dataLabels: {
                  enabled: false
                },
                stroke: {
                  curve: 'smooth'
                },
		/*markers: {
    		  size: 4,
		},*/
                xaxis: {
                  categories: {{ datahour['CDR_HOUR'] |tojson }},
                  labels: {
                    show: true,
                    rotateAlways: false
                      },
                },
                grid: {
                  row: {
                    colors: ['#ffffff', 'transparent'], // takes an array which will be repeated on columns
                    opacity: 0.5
                  },
                }
              }).render();
            });
          </script>
          <!-- End Line Chart -->
        </div>
      </div>
    </div> <!-- col1 -->  

    <div class="col-lg-4">  <!-- col2 -->
      <div class="card">
        <div class="card-body2">
		
		      <table class="table table-custom1"">
            <thead >
              <tr>
                <th scope="col"  colspan="4" class="table-secondary table-header6 data-increase"><center>VOICE MM ATTEMPT HOUR WISE</center></th>
              </tr>
            </thead >  
          </table>
          <div id="lineChart2"></div>
          <!-- Start Chart -->
          <script>
            document.addEventListener("DOMContentLoaded", () => {
              new ApexCharts(document.querySelector("#lineChart2"), {
                series: [{
                  name: "today",
                  data:  {{ datahour['MMATT_0'] | tojson }} 
                        },
                      {
                  name: "d-1",
                  data: {{ datahour['MMATT_1'] | tojson }}
                      },
                      {
                  name: "d-7",
                  data: {{ datahour['MMATT_7'] | tojson }} 
                }],
                chart: {
                  height: 200,
                  type: 'line',
                  zoom: {
                    enabled: false
                  }
                },
                dataLabels: {
                  enabled: false
                },
		stroke: {
                  curve: 'smooth'
                },
                /*markers: {
    		  size: 4,
		},*/
		xaxis: {
                  categories: {{ datahour['CDR_HOUR'] |tojson }},
                  labels: {
                    show: true,
                    rotate: -90,
                    rotateAlways: false
                      },
                },
                grid: {
                  row: {
                    colors: ['#ffffff', 'transparent'], // takes an array which will be repeated on columns
                    opacity: 0.5
                  },
                }
              }).render();
            });
          </script>
          <!-- End Line Chart -->
        </div>
      </div>
    </div> <!-- col2 --> 

    <div class="col-lg-4">  <!-- col3 -->
      <div class="card">
        <div class="card-body2">
		
		      <table class="table table-custom1"">
            <thead >
              <tr>
                <th scope="col"  colspan="4" class="table-secondary table-header6 data-increase"><center>VOICE PK ATTEMPT HOUR WISE</center></th>
              </tr>
            </thead >  
          </table>
          <div id="lineChart3"></div>
          <!-- Start Chart -->
          <script>
            document.addEventListener("DOMContentLoaded", () => {
              new ApexCharts(document.querySelector("#lineChart3"), {
                series: [{
                  name: "today",
                  data:  {{ datahour['PKATT_0'] | tojson }} 
                        },
                      {
                  name: "d-1",
                  data: {{ datahour['PKATT_1'] | tojson }}
                      },
                      {
                  name: "d-7",
                  data: {{ datahour['PKATT_7'] | tojson }} 
                }],
                chart: {
                  height: 200,
                  type: 'line',
                  zoom: {
                    enabled: false
                  }
                },
                dataLabels: {
                  enabled: false
                },
                stroke: {
                  curve: 'smooth'
                },
		/*markers: {
    		  size: 4,
		},*/
                xaxis: {
                  categories: {{ datahour['CDR_HOUR'] |tojson }},
                  labels: {
                    show: true,
                    rotateAlways: false
                      },
                },
                grid: {
                  row: {
                    colors: ['#ffffff', 'transparent'], // takes an array which will be repeated on columns
                    opacity: 0.5
                  },
                }
              }).render();
            });
          </script>
          <!-- End Line Chart -->
        </div>
      </div>
    </div> <!-- col3 --> 

</div> <!-- row1 -->

<div class="row"><!-- row3 -->

  <div class="col-lg-4">  <!-- col1 -->
    <div class="card">
      <div class="card-body">
  
        <table class="table table-custom1"">
          <thead >
            <tr>
              <th scope="col"  colspan="4" class="table-secondary table-header6 data-increase"><center>VOICE TRAFFIC SUCCESS HOUR WISE</center></th>
            </tr>
          </thead >  
        </table>
        <div id="lineChart7"></div>
        <!-- Start Chart -->
        <script>
          document.addEventListener("DOMContentLoaded", () => {
            new ApexCharts(document.querySelector("#lineChart7"), {
              series: [{
                name: "today",
                data:  {{ datahour['SUC_0'] | tojson }} 
                      },
                    {
                name: "d-1",
                data: {{ datahour['SUC_1'] | tojson }}
                    },
                    {
                name: "d-7",
                data: {{ datahour['SUC_7'] | tojson }} 
              }],
              chart: {
                height: 200,
                type: 'line',
                zoom: {
                  enabled: false
                }
              },
              dataLabels: {
                enabled: false
              },
              stroke: {
                curve: 'smooth'
              },
              xaxis: {
                categories: {{ datahour['CDR_HOUR'] |tojson }},
                labels: {
                  show: true,
                  rotate: -90,
                  rotateAlways: false
                    },
              },
              grid: {
                row: {
                  colors: ['#ffffff', 'transparent'], // takes an array which will be repeated on columns
                  opacity: 0.5
                },
              }
            }).render();
          });
        </script>
        <!-- End Line Chart -->
      </div>
    </div>
  </div> <!-- col1 -->  

  <div class="col-lg-4">  <!-- col2 -->
    <div class="card">
      <div class="card-body">
  
        <table class="table table-custom1"">
          <thead >
            <tr>
              <th scope="col"  colspan="4" class="table-secondary table-header6 data-increase"><center>VOICE MM SUCCESS HOUR WISE</center></th>
            </tr>
          </thead >  
        </table>
        <div id="lineChart8"></div>
        <!-- Start Chart -->
        <script>
          document.addEventListener("DOMContentLoaded", () => {
            new ApexCharts(document.querySelector("#lineChart8"), {
              series: [{
                name: "today",
                data:  {{ datahour['MMSUC_0'] | tojson }} 
                      },
                    {
                name: "d-1",
                data: {{ datahour['MMSUC_1'] | tojson }}
                    },
                    {
                name: "d-7",
                data: {{ datahour['MMSUC_7'] | tojson }} 
              }],
              chart: {
                height: 200,
                type: 'line',
                zoom: {
                  enabled: false
                }
              },
              dataLabels: {
                enabled: false
              },
              stroke: {
                curve: 'smooth'
              },
              xaxis: {
                categories: {{ datahour['CDR_HOUR'] |tojson }},
                labels: {
                  show: true,
                  rotate: -90,
                  rotateAlways: false
                    },
              },
              grid: {
                row: {
                  colors: ['#ffffff', 'transparent'], // takes an array which will be repeated on columns
                  opacity: 0.5
                },
              }
            }).render();
          });
        </script>
        <!-- End Line Chart -->
      </div>
    </div>
  </div> <!-- col2 -->

  <div class="col-lg-4">  <!-- col3 -->
    <div class="card">
      <div class="card-body">
  
        <table class="table table-custom1"">
          <thead >
            <tr>
              <th scope="col"  colspan="4" class="table-secondary table-header6 data-increase"><center>VOICE PK SUCCESS HOUR WISE</center></th>
            </tr>
          </thead >  
        </table>
        <div id="lineChart9"></div>
        <!-- Start Chart -->
        <script>
          document.addEventListener("DOMContentLoaded", () => {
            new ApexCharts(document.querySelector("#lineChart9"), {
              series: [{
                name: "today",
                data:  {{ datahour['PKSUC_0'] | tojson }} 
                      },
                    {
                name: "d-1",
                data: {{ datahour['PKSUC_1'] | tojson }}
                    },
                    {
                name: "d-7",
                data: {{ datahour['PKSUC_7'] | tojson }} 
              }],
              chart: {
                height: 200,
                type: 'line',
                zoom: {
                  enabled: false
                }
              },
              dataLabels: {
                enabled: false
              },
              stroke: {
                curve: 'smooth'
              },
              xaxis: {
                categories: {{ datahour['CDR_HOUR'] |tojson }},
                labels: {
                  show: true,
                  rotate: -90,
                  rotateAlways: false
                    },
              },
              grid: {
                row: {
                  colors: ['#ffffff', 'transparent'], // takes an array which will be repeated on columns
                  opacity: 0.5
                },
              }
            }).render();
          });
        </script>
        <!-- End Line Chart -->
      </div>
    </div>
  </div> <!-- col3 -->

</div> <!-- row3 -->

<div class="row"><!-- row5 -->

  <div class="col-lg-4">  <!-- col1 -->
    <div class="card">
      <div class="card-body">
  
        <table class="table table-custom1"">
          <thead >
            <tr>
              <th scope="col"  colspan="4" class="table-secondary data-increase"><center>ROAMING ATTEMPT HOUR WISE</center></th>
            </tr>
          </thead >  
        </table>
        <div id="lineChart13"></div>
        <!-- Start Chart -->
        <script>
          document.addEventListener("DOMContentLoaded", () => {
            new ApexCharts(document.querySelector("#lineChart13"), {
              series: [{
                name: "today",
                data:  {{ datahour['ROAMATT_0'] | tojson }} 
                      },
                    {
                name: "d-1",
                data: {{ datahour['ROAMATT_1'] | tojson }}
                    },
                    {
                name: "d-7",
                data: {{ datahour['ROAMATT_7'] | tojson }} 
              }],
              chart: {
                height: 200,
                type: 'line',
                zoom: {
                  enabled: false
                }
              },
              dataLabels: {
                enabled: false
              },
              stroke: {
                curve: 'smooth'
              },
              xaxis: {
                categories: {{ datahour['CDR_HOUR'] |tojson }},
                labels: {
                  show: true,
                  rotateAlways: false
                    },
              },
              grid: {
                row: {
                  colors: ['#ffffff', 'transparent'], // takes an array which will be repeated on columns
                  opacity: 0.5
                },
              }
            }).render();
          });
        </script>
        <!-- End Line Chart -->
      </div>
    </div>
  </div> <!-- col1 --> 
  

  <div class="col-lg-4">  <!-- col2 -->
    <div class="card">
      <div class="card-body">
  
        <table class="table table-custom1"">
          <thead >
            <tr>
              <th scope="col"  colspan="4" class="table-secondary data-increase"><center>NON ROAMING ATTEMPT HOUR WISE</center></th>
            </tr>
          </thead >  
        </table>
        <div id="lineChart14"></div>
        <!-- Start Chart -->
        <script>
          document.addEventListener("DOMContentLoaded", () => {
            new ApexCharts(document.querySelector("#lineChart14"), {
              series: [{
                name: "today",
                data:  {{ datahour['NONROATT_0'] | tojson }} 
                      },
                    {
                name: "d-1",
                data: {{ datahour['NONROATT_1'] | tojson }}
                    },
                    {
                name: "d-7",
                data: {{ datahour['NONROATT_7'] | tojson }} 
              }],
              chart: {
                height: 200,
                type: 'line',
                zoom: {
                  enabled: false
                }
              },
              dataLabels: {
                enabled: false
              },
              stroke: {
                curve: 'smooth'
              },
              xaxis: {
                categories: {{ datahour['CDR_HOUR'] |tojson }},
                labels: {
                  show: true,
                  rotateAlways: false
                    },
              },
              grid: {
                row: {
                  colors: ['#ffffff', 'transparent'], // takes an array which will be repeated on columns
                  opacity: 0.5
                },
              }
            }).render();
          });
        </script>
        <!-- End Line Chart -->
      </div>
    </div>
  </div> <!-- col2 -->
  
  <div class="col-lg-4">  <!-- col3 -->
    <div class="card">
      <div class="card-body">
  
        <table class="table table-custom1"">
          <thead >
            <tr>
              <th scope="col"  colspan="4" class="table-secondary data-increase"><center>MOC ATTEMPT HOUR WISE</center></th>
            </tr>
          </thead >  
        </table>
        <div id="lineChart15"></div>
        <!-- Start Chart -->
        <script>
          document.addEventListener("DOMContentLoaded", () => {
            new ApexCharts(document.querySelector("#lineChart15"), {
              series: [{
                name: "today",
                data:  {{ datahour['MOCATT_0'] | tojson }} 
                      },
                    {
                name: "d-1",
                data: {{ datahour['MOCATT_1'] | tojson }}
                    },
                    {
                name: "d-7",
                data: {{ datahour['MOCATT_7'] | tojson }} 
              }],
              chart: {
                height: 200,
                type: 'line',
                zoom: {
                  enabled: false
                }
              },
              dataLabels: {
                enabled: false
              },
              stroke: {
                curve: 'smooth'
              },
              xaxis: {
                categories: {{ datahour['CDR_HOUR'] |tojson }},
                labels: {
                  show: true,
                  rotateAlways: false
                    },
              },
              grid: {
                row: {
                  colors: ['#ffffff', 'transparent'], // takes an array which will be repeated on columns
                  opacity: 0.5
                },
              }
            }).render();
          });
        </script>
        <!-- End Line Chart -->
      </div>
    </div>
  </div> <!-- col3 -->

</div> <!-- row5 -->
 
<div class="row"><!-- row7 -->
  
  <div class="col-lg-4">  <!-- col1 -->
    <div class="card">
      <div class="card-body">
  
        <table class="table table-custom1"">
          <thead >
            <tr>
              <th scope="col"  colspan="4" class="table-secondary data-increase"><center>ROAMING SUCCESS HOUR WISE</center></th>
            </tr>
          </thead >  
        </table>
        <div id="lineChart19"></div>
        <!-- Start Chart -->
        <script>
          document.addEventListener("DOMContentLoaded", () => {
            new ApexCharts(document.querySelector("#lineChart19"), {
              series: [{
                name: "today",
                data:  {{ datahour['ROAMSUC_0'] | tojson }} 
                      },
                    {
                name: "d-1",
                data: {{ datahour['ROAMSUC'] | tojson }}
                    },
                    {
                name: "d-7",
                data: {{ datahour['ROAMSUC_7'] | tojson }} 
              }],
              chart: {
                height: 200,
                type: 'line',
                zoom: {
                  enabled: false
                }
              },
              dataLabels: {
                enabled: false
              },
              stroke: {
                curve: 'smooth'
              },
              xaxis: {
                categories: {{ datahour['CDR_HOUR'] |tojson }},
                labels: {
                  show: true,
                  rotateAlways: false
                    },
              },
              grid: {
                row: {
                  colors: ['#ffffff', 'transparent'], // takes an array which will be repeated on columns
                  opacity: 0.5
                },
              }
            }).render();
          });
        </script>
        <!-- End Line Chart -->
      </div>
    </div>
  </div> <!-- col1 -->

  <div class="col-lg-4">  <!-- col2 -->
    <div class="card">
      <div class="card-body">
  
        <table class="table table-custom1"">
          <thead >
            <tr>
              <th scope="col"  colspan="4" class="table-secondary data-increase"><center>NON ROAMING SUCCESS HOUR WISE</center></th>
            </tr>
          </thead >  
        </table>
        <div id="lineChart20"></div>
        <!-- Start Chart -->
        <script>
          document.addEventListener("DOMContentLoaded", () => {
            new ApexCharts(document.querySelector("#lineChart20"), {
              series: [{
                name: "today",
                data:  {{ datahour['NONROSUC_0'] | tojson }} 
                      },
                    {
                name: "d-1",
                data: {{ datahour['NONROSUC_1'] | tojson }}
                    },
                    {
                name: "d-7",
                data: {{ datahour['NONROSUC_7'] | tojson }} 
              }],
              chart: {
                height: 200,
                type: 'line',
                zoom: {
                  enabled: false
                }
              },
              dataLabels: {
                enabled: false
              },
              stroke: {
                curve: 'smooth'
              },
              xaxis: {
                categories: {{ datahour['CDR_HOUR'] |tojson }},
                labels: {
                  show: true,
                  rotateAlways: false
                    },
              },
              grid: {
                row: {
                  colors: ['#ffffff', 'transparent'], // takes an array which will be repeated on columns
                  opacity: 0.5
                },
              }
            }).render();
          });
        </script>
        <!-- End Line Chart -->
      </div>
    </div>
  </div> <!-- col2 -->

  <div class="col-lg-4">  <!-- col3 -->
    <div class="card">
      <div class="card-body">
  
        <table class="table table-custom1"">
          <thead >
            <tr>
              <th scope="col"  colspan="4" class="table-secondary data-increase"><center>MOC SUCCESS HOUR WISE</center></th>
            </tr>
          </thead >  
        </table>
        <div id="lineChart21"></div>
        <!-- Start Chart -->
        <script>
          document.addEventListener("DOMContentLoaded", () => {
            new ApexCharts(document.querySelector("#lineChart21"), {
              series: [{
                name: "today",
                data:  {{ datahour['MOCSUC_0'] | tojson }} 
                      },
                    {
                name: "d-1",
                data: {{ datahour['MOCSUC_1'] | tojson }}
                    },
                    {
                name: "d-7",
                data: {{ datahour['MOCSUC_7'] | tojson }} 
              }],
              chart: {
                height: 200,
                type: 'line',
                zoom: {
                  enabled: false
                }
              },
              dataLabels: {
                enabled: false
              },
              stroke: {
                curve: 'smooth'
              },
              xaxis: {
                categories: {{ datahour['CDR_HOUR'] |tojson }},
                labels: {
                  show: true,
                  rotateAlways: false
                    },
              },
              grid: {
                row: {
                  colors: ['#ffffff', 'transparent'], // takes an array which will be repeated on columns
                  opacity: 0.5
                },
              }
            }).render();
          });
        </script>
        <!-- End Line Chart -->
      </div>
    </div>
  </div> <!-- col3 -->

</div><!-- row7 -->


<div class="row"><!-- row9 -->

  <div class="col-lg-4">  <!-- col1 -->
    <div class="card">
      <div class="card-body">
  
        <table class="table table-custom1"">
          <thead >
            <tr>
              <th scope="col"  colspan="4" class="table-secondary data-increase"><center>MTC ATTEMPT HOUR WISE</center></th>
            </tr>
          </thead >  
        </table>
        <div id="lineChart25"></div>
        <!-- Start Chart -->
        <script>
          document.addEventListener("DOMContentLoaded", () => {
            new ApexCharts(document.querySelector("#lineChart25"), {
              series: [{
                name: "today",
                data:  {{ datahour['MTCATT_0'] | tojson }} 
                      },
                    {
                name: "d-1",
                data: {{ datahour['MTCATT_1'] | tojson }}
                    },
                    {
                name: "d-7",
                data: {{ datahour['MTCATT_7'] | tojson }} 
              }],
              chart: {
                height: 200,
                type: 'line',
                zoom: {
                  enabled: false
                }
              },
              dataLabels: {
                enabled: false
              },
              stroke: {
                curve: 'smooth'
              },
              xaxis: {
                categories: {{ datahour['CDR_HOUR'] |tojson }},
                labels: {
                  show: true,
                  rotateAlways: false
                    },
              },
              grid: {
                row: {
                  colors: ['#ffffff', 'transparent'], // takes an array which will be repeated on columns
                  opacity: 0.5
                },
              }
            }).render();
          });
        </script>
        <!-- End Line Chart -->
      </div>
    </div>
  </div> <!-- col1 -->

  <div class="col-lg-4">  <!-- col2 -->
    <div class="card">
      <div class="card-body">
  
        <table class="table table-custom1"">
          <thead >
            <tr>
              <th scope="col"  colspan="4" class="table-secondary data-increase"><center>MFC ATTEMPT HOUR WISE</center></th>
            </tr>
          </thead >  
        </table>
        <div id="lineChart26"></div>
        <!-- Start Chart -->
        <script>
          document.addEventListener("DOMContentLoaded", () => {
            new ApexCharts(document.querySelector("#lineChart26"), {
              series: [{
                name: "today",
                data:  {{ datahour['MFCATT_0'] | tojson }} 
                      },
                    {
                name: "d-1",
                data: {{ datahour['MFCATT_1'] | tojson }}
                    },
                    {
                name: "d-7",
                data: {{ datahour['MFCATT_7'] | tojson }} 
              }],
              chart: {
                height: 200,
                type: 'line',
                zoom: {
                  enabled: false
                }
              },
              dataLabels: {
                enabled: false
              },
              stroke: {
                curve: 'smooth'
              },
              xaxis: {
                categories: {{ datahour['CDR_HOUR'] |tojson }},
                labels: {
                  show: true,
                  rotateAlways: false
                    },
              },
              grid: {
                row: {
                  colors: ['#ffffff', 'transparent'], // takes an array which will be repeated on columns
                  opacity: 0.5
                },
              }
            }).render();
          });
        </script>
        <!-- End Line Chart -->
      </div>
    </div>
  </div> <!-- col2 -->

  <div class="col-lg-4">  <!-- col2 -->
    <div class="card">
      <div class="card-body">
  
        <table class="table table-custom1"">
          <thead >
            <tr>
              <th scope="col"  colspan="4" class="table-secondary data-increase"><center>SK 100 ATTEMPT HOUR WISE</center></th>
            </tr>
          </thead >  
        </table>
        <div id="lineChart27"></div>
        <!-- Start Chart -->
        <script>
          document.addEventListener("DOMContentLoaded", () => {
            new ApexCharts(document.querySelector("#lineChart27"), {
              series: [{
                name: "today",
                data:  {{ datahour['100ATT_0'] | tojson }} 
                      },
                    {
                name: "d-1",
                data: {{ datahour['100ATT_1'] | tojson }}
                    },
                    {
                name: "d-7",
                data: {{ datahour['100ATT_7'] | tojson }} 
              }],
              chart: {
                height: 200,
                type: 'line',
                zoom: {
                  enabled: false
                }
              },
              dataLabels: {
                enabled: false
              },
              stroke: {
                curve: 'smooth'
              },
              xaxis: {
                categories: {{ datahour['CDR_HOUR'] |tojson }},
                labels: {
                  show: true,
                  rotateAlways: false
                    },
              },
              grid: {
                row: {
                  colors: ['#ffffff', 'transparent'], // takes an array which will be repeated on columns
                  opacity: 0.5
                },
              }
            }).render();
          });
        </script>
        <!-- End Line Chart -->
      </div>
    </div>
  </div> <!-- col2 -->

</div><!-- row9 -->

<div class="row"><!-- row11 -->

  <div class="col-lg-4">  <!-- col1 -->
    <div class="card">
      <div class="card-body">
  
        <table class="table table-custom1"">
          <thead >
            <tr>
              <th scope="col"  colspan="4" class="table-secondary data-increase"><center>MTC SUCCESS HOUR WISE</center></th>
            </tr>
          </thead >  
        </table>
        <div id="lineChart31"></div>
        <!-- Start Chart -->
        <script>
          document.addEventListener("DOMContentLoaded", () => {
            new ApexCharts(document.querySelector("#lineChart31"), {
              series: [{
                name: "today",
                data:  {{ datahour['MTCSUC_0'] | tojson }} 
                      },
                    {
                name: "d-1",
                data: {{ datahour['MTCSUC_1'] | tojson }}
                    },
                    {
                name: "d-7",
                data: {{ datahour['MTCSUC_7'] | tojson }} 
              }],
              chart: {
                height: 200,
                type: 'line',
                zoom: {
                  enabled: false
                }
              },
              dataLabels: {
                enabled: false
              },
              stroke: {
                curve: 'smooth'
              },
              xaxis: {
                categories: {{ datahour['CDR_HOUR'] |tojson }},
                labels: {
                  show: true,
                  rotateAlways: false
                    },
              },
              grid: {
                row: {
                  colors: ['#ffffff', 'transparent'], // takes an array which will be repeated on columns
                  opacity: 0.5
                },
              }
            }).render();
          });
        </script>
        <!-- End Line Chart -->
      </div>
    </div>
  </div> <!-- col1 -->

  <div class="col-lg-4">  <!-- col2 -->
    <div class="card">
      <div class="card-body">
  
        <table class="table table-custom1"">
          <thead >
            <tr>
              <th scope="col"  colspan="4" class="table-secondary data-increase"><center>MFC SUCCESS HOUR WISE</center></th>
            </tr>
          </thead >  
        </table>
        <div id="lineChart32"></div>
        <!-- Start Chart -->
        <script>
          document.addEventListener("DOMContentLoaded", () => {
            new ApexCharts(document.querySelector("#lineChart32"), {
              series: [{
                name: "today",
                data:  {{ datahour['MFCSUC_0'] | tojson }} 
                      },
                    {
                name: "d-1",
                data: {{ datahour['MFCSUC_1'] | tojson }}
                    },
                    {
                name: "d-7",
                data: {{ datahour['MFCSUC_7'] | tojson }} 
              }],
              chart: {
                height: 200,
                type: 'line',
                zoom: {
                  enabled: false
                }
              },
              dataLabels: {
                enabled: false
              },
              stroke: {
                curve: 'smooth'
              },
              xaxis: {
                categories: {{ datahour['CDR_HOUR'] |tojson }},
                labels: {
                  show: true,
                  rotateAlways: false
                    },
              },
              grid: {
                row: {
                  colors: ['#ffffff', 'transparent'], // takes an array which will be repeated on columns
                  opacity: 0.5
                },
              }
            }).render();
          });
        </script>
        <!-- End Line Chart -->
      </div>
    </div>
  </div> <!-- col2 -->

  <div class="col-lg-4">  <!-- col3 -->
    <div class="card">
      <div class="card-body">
  
        <table class="table table-custom1"">
          <thead >
            <tr>
              <th scope="col"  colspan="4" class="table-secondary data-increase"><center>SK 100 SUCCESS HOUR WISE</center></th>
            </tr>
          </thead >  
        </table>
        <div id="lineChart33"></div>
        <!-- Start Chart -->
        <script>
          document.addEventListener("DOMContentLoaded", () => {
            new ApexCharts(document.querySelector("#lineChart33"), {
              series: [{
                name: "today",
                data:  {{ datahour['100SUC_0'] | tojson }} 
                      },
                    {
                name: "d-1",
                data: {{ datahour['100SUC_1'] | tojson }}
                    },
                    {
                name: "d-7",
                data: {{ datahour['100SUC_7'] | tojson }} 
              }],
              chart: {
                height: 200,
                type: 'line',
                zoom: {
                  enabled: false
                }
              },
              dataLabels: {
                enabled: false
              },
              stroke: {
                curve: 'smooth'
              },
              xaxis: {
                categories: {{ datahour['CDR_HOUR'] |tojson }},
                labels: {
                  show: true,
                  rotateAlways: false
                    },
              },
              grid: {
                row: {
                  colors: ['#ffffff', 'transparent'], // takes an array which will be repeated on columns
                  opacity: 0.5
                },
              }
            }).render();
          });
        </script>
        <!-- End Line Chart -->
      </div>
    </div>
  </div> <!-- col3 -->

</div><!-- row11 -->


<div class="row"><!-- row13 -->

  <div class="col-lg-4">  <!-- col1 -->
    <div class="card">
      <div class="card-body">
  
        <table class="table table-custom1"">
          <thead >
            <tr>
              <th scope="col"  colspan="4" class="table-secondary data-increase"><center>SK 150 ATTEMPT HOUR WISE</center></th>
            </tr>
          </thead >  
        </table>
        <div id="lineChart37"></div>
        <!-- Start Chart -->
        <script>
          document.addEventListener("DOMContentLoaded", () => {
            new ApexCharts(document.querySelector("#lineChart37"), {
              series: [{
                name: "today",
                data:  {{ datahour['150ATT_0'] | tojson }} 
                      },
                    {
                name: "d-1",
                data: {{ datahour['150ATT_1'] | tojson }}
                    },
                    {
                name: "d-7",
                data: {{ datahour['150ATT_7'] | tojson }} 
              }],
              chart: {
                height: 200,
                type: 'line',
                zoom: {
                  enabled: false
                }
              },
              dataLabels: {
                enabled: false
              },
              stroke: {
                curve: 'smooth'
              },
              xaxis: {
                categories: {{ datahour['CDR_HOUR'] |tojson }},
                labels: {
                  show: true,
                  rotateAlways: false
                    },
              },
              grid: {
                row: {
                  colors: ['#ffffff', 'transparent'], // takes an array which will be repeated on columns
                  opacity: 0.5
                },
              }
            }).render();
          });
        </script>
        <!-- End Line Chart -->
      </div>
    </div>
  </div> <!-- col1 -->

  <div class="col-lg-4">  <!-- col2 -->
    <div class="card">
      <div class="card-body">
  
        <table class="table table-custom1"">
          <thead >
            <tr>
              <th scope="col"  colspan="4" class="table-secondary data-increase"><center>SK 200 ATTEMPT HOUR WISE</center></th>
            </tr>
          </thead >  
        </table>
        <div id="lineChart38"></div>
        <!-- Start Chart -->
        <script>
          document.addEventListener("DOMContentLoaded", () => {
            new ApexCharts(document.querySelector("#lineChart38"), {
              series: [{
                name: "today",
                data:  {{ datahour['200ATT_0'] | tojson }} 
                      },
                    {
                name: "d-1",
                data: {{ datahour['200ATT_1'] | tojson }}
                    },
                    {
                name: "d-7",
                data: {{ datahour['200ATT_7'] | tojson }} 
              }],
              chart: {
                height: 200,
                type: 'line',
                zoom: {
                  enabled: false
                }
              },
              dataLabels: {
                enabled: false
              },
              stroke: {
                curve: 'smooth'
              },
              xaxis: {
                categories: {{ datahour['CDR_HOUR'] |tojson }},
                labels: {
                  show: true,
                  rotateAlways: false
                    },
              },
              grid: {
                row: {
                  colors: ['#ffffff', 'transparent'], // takes an array which will be repeated on columns
                  opacity: 0.5
                },
              }
            }).render();
          });
        </script>
        <!-- End Line Chart -->
      </div>
    </div>
  </div> <!-- col2 -->
  
  <div class="col-lg-4">  <!-- col3 -->
    <div class="card">
      <div class="card-body">
  
        <table class="table table-custom1"">
          <thead >
            <tr>
              <th scope="col"  colspan="4" class="table-secondary data-increase"><center>SK 300 ATTEMPT HOUR WISE</center></th>
            </tr>
          </thead >  
        </table>
        <div id="lineChart41"></div>
        <!-- Start Chart -->
        <script>
          document.addEventListener("DOMContentLoaded", () => {
            new ApexCharts(document.querySelector("#lineChart41"), {
              series: [{
                name: "today",
                data:  {{ datahour['300ATT_0'] | tojson }} 
                      },
                    {
                name: "d-1",
                data: {{ datahour['300ATT_1'] | tojson }}
                    },
                    {
                name: "d-7",
                data: {{ datahour['300ATT_7'] | tojson }} 
              }],
              chart: {
                height: 200,
                type: 'line',
                zoom: {
                  enabled: false
                }
              },
              dataLabels: {
                enabled: false
              },
              stroke: {
                curve: 'smooth'
              },
              xaxis: {
                categories: {{ datahour['CDR_HOUR'] |tojson }},
                labels: {
                  show: true,
                  rotateAlways: false
                    },
              },
              grid: {
                row: {
                  colors: ['#ffffff', 'transparent'], // takes an array which will be repeated on columns
                  opacity: 0.5
                },
              }
            }).render();
          });
        </script>
        <!-- End Line Chart -->
      </div>
    </div>
  </div> <!-- col2 -->

</div><!-- row13 -->


<div class="row"><!-- row15 -->

  <div class="col-lg-4">  <!-- col1 -->
    <div class="card">
      <div class="card-body">
  
        <table class="table table-custom1"">
          <thead >
            <tr>
              <th scope="col"  colspan="4" class="table-secondary data-increase"><center>SK 150 SUCCESS HOUR WISE</center></th>
            </tr>
          </thead >  
        </table>
        <div id="lineChart43"></div>
        <!-- Start Chart -->
        <script>
          document.addEventListener("DOMContentLoaded", () => {
            new ApexCharts(document.querySelector("#lineChart43"), {
              series: [{
                name: "today",
                data:  {{ datahour['150SUC_0'] | tojson }} 
                      },
                    {
                name: "d-1",
                data: {{ datahour['150SUC_1'] | tojson }}
                    },
                    {
                name: "d-7",
                data: {{ datahour['150SUC_7'] | tojson }} 
              }],
              chart: {
                height: 200,
                type: 'line',
                zoom: {
                  enabled: false
                }
              },
              dataLabels: {
                enabled: false
              },
              stroke: {
                curve: 'smooth'
              },
              xaxis: {
                categories: {{ datahour['CDR_HOUR'] |tojson }},
                labels: {
                  show: true,
                  rotateAlways: false
                    },
              },
              grid: {
                row: {
                  colors: ['#ffffff', 'transparent'], // takes an array which will be repeated on columns
                  opacity: 0.5
                },
              }
            }).render();
          });
        </script>
        <!-- End Line Chart -->
      </div>
    </div>
  </div> <!-- col1 -->

  <div class="col-lg-4">  <!-- col2 -->
    <div class="card">
      <div class="card-body">
  
        <table class="table table-custom1"">
          <thead >
            <tr>
              <th scope="col"  colspan="4" class="table-secondary data-increase"><center>SK 200 SUCCESS HOUR WISE</center></th>
            </tr>
          </thead >  
        </table>
        <div id="lineChart44"></div>
        <!-- Start Chart -->
        <script>
          document.addEventListener("DOMContentLoaded", () => {
            new ApexCharts(document.querySelector("#lineChart44"), {
              series: [{
                name: "today",
                data:  {{ datahour['200SUC_0'] | tojson }} 
                      },
                    {
                name: "d-1",
                data: {{ datahour['200SUC_1'] | tojson }}
                    },
                    {
                name: "d-7",
                data: {{ datahour['200SUC_7'] | tojson }} 
              }],
              chart: {
                height: 200,
                type: 'line',
                zoom: {
                  enabled: false
                }
              },
              dataLabels: {
                enabled: false
              },
              stroke: {
                curve: 'smooth'
              },
              xaxis: {
                categories: {{ datahour['CDR_HOUR'] |tojson }},
                labels: {
                  show: true,
                  rotateAlways: false
                    },
              },
              grid: {
                row: {
                  colors: ['#ffffff', 'transparent'], // takes an array which will be repeated on columns
                  opacity: 0.5
                },
              }
            }).render();
          });
        </script>
        <!-- End Line Chart -->
      </div>
    </div>
  </div> <!-- col2 -->
  
  <div class="col-lg-4">  <!-- col3 -->
    <div class="card">
      <div class="card-body">
  
        <table class="table table-custom1"">
          <thead >
            <tr>
              <th scope="col"  colspan="4" class="table-secondary data-increase"><center>SK 300 SUCCESS HOUR WISE</center></th>
            </tr>
          </thead >  
        </table>
        <div id="lineChart45"></div>
        <!-- Start Chart -->
        <script>
          document.addEventListener("DOMContentLoaded", () => {
            new ApexCharts(document.querySelector("#lineChart45"), {
              series: [{
                name: "today",
                data:  {{ datahour['300SUC_0'] | tojson }} 
                      },
                    {
                name: "d-1",
                data: {{ datahour['300SUC_1'] | tojson }}
                    },
                    {
                name: "d-7",
                data: {{ datahour['300SUC_7'] | tojson }} 
              }],
              chart: {
                height: 200,
                type: 'line',
                zoom: {
                  enabled: false
                }
              },
              dataLabels: {
                enabled: false
              },
              stroke: {
                curve: 'smooth'
              },
              xaxis: {
                categories: {{ datahour['CDR_HOUR'] |tojson }},
                labels: {
                  show: true,
                  rotateAlways: false
                    },
              },
              grid: {
                row: {
                  colors: ['#ffffff', 'transparent'], // takes an array which will be repeated on columns
                  opacity: 0.5
                },
              }
            }).render();
          });
        </script>
        <!-- End Line Chart -->
      </div>
    </div>
  </div> <!-- col2 -->

</div><!-- row15 -->

   
</section>
{% endblock %}